<div class="static-pages" [ngSwitch]="currentPage">
  <!-- VISION START -->
  <div *ngSwitchCase="'/vision'">
    <h2>The Vision</h2>
    <hr>
  </div>
  <!-- VISION END -->

  <!-- TEAM START -->
  <div *ngSwitchCase="'/team'">
    <h2>The Team</h2>
    <hr>
  </div>
  <!-- TEAM END -->

  <!-- CAREERS START -->
  <div *ngSwitchCase="'/careers'">
    <h2>Careers</h2>
    <hr>
  </div>
  <!-- CAREERS END -->

  <!-- FAQ START -->
  <div *ngSwitchCase="'/faq'">
    <h2>Frequently Asked Questions</h2>
    <hr>
  </div>
  <!-- FAQ END -->

  <!-- SUGGEST START -->
  <div *ngSwitchCase="'/suggest'">
    <h2>Suggest a Product</h2>
    <hr>
  </div>
  <!-- SUGGEST END -->

  <!-- PRIVACY START -->
  <div *ngSwitchCase="'/privacy'">
    <h2>Security & Privacy Policy</h2>
    <hr>
  </div>
  <!-- PRIVACY END -->

  <!-- TERMS START -->
  <div *ngSwitchCase="'/terms'">
    <h2>Terms & Conditions of Use</h2>
    <hr>
  </div>
  <!-- TERMS END -->

  <!-- TERMS START -->
  <div *ngSwitchCase="'/contact'">
    <h2>Contact Us</h2>
    <hr>
    <div class="container-fluid">
      <div *ngIf='isAuthenticated | async'>
        <div>
          <p>OMG!  We're super excited to serve you!</p>
          <p>Our mantra: Just do what you love, we'll do the grocery shopping for you. </p>
          <p>Our vision: To provide our users the best online grocery shopping ever.</p>
          <br>
          <p>Need help with your orders?  Just fire a message and our friendly OMG! staff will be there to assist you. As we are still on beta, we're pretty sure you'll be as understanding as you can be.  Coz you're cool like that ; ).  And we really appreciate that.  Our assurance: we won't stop until all is good.  Okie dokie.  Have a fantastic day!</p>
          <br>
          <button type="button" class="btn btn-primary btn-lg" (click)="showChat()">
            <i class="glyphicon glyphicon-modal-window"></i>&nbsp;Launch Support Chat
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- TERMS END -->
</div>
