<div class="static-pages" [ngSwitch]="currentPage">
  <!-- VISION START -->
  <div *ngSwitchCase="'vision'">
    <h2>The Vision</h2>
    <hr>
  </div>
  <!-- VISION END -->

  <!-- TEAM START -->
  <div *ngSwitchCase="'team'">
    <h2>The Team</h2>
    <hr>
  </div>
  <!-- TEAM END -->

  <!-- CAREERS START -->
  <div *ngSwitchCase="'careers'">
    <h2>Careers</h2>
    <hr>
  </div>
  <!-- CAREERS END -->

  <!-- FAQ START -->
  <div *ngSwitchCase="'faq'">
    <h2>Frequently Asked Questions</h2>
    <hr>
  </div>
  <!-- FAQ END -->

  <!-- SUGGEST START -->
  <div *ngSwitchCase="'suggest'">
    <h2>Suggest a Product</h2>
    <hr>
  </div>
  <!-- SUGGEST END -->

  <!-- PRIVACY START -->
  <div *ngSwitchCase="'privacy'">
    <h2>Security & Privacy Policy</h2>
    <hr>
  </div>
  <!-- PRIVACY END -->

  <!-- TERMS START -->
  <div *ngSwitchCase="'terms'">
    <h2>Terms & Conditions of Use</h2>
    <hr>
  </div>
  <!-- TERMS END -->
</div>
