<modal #itemDetailsModal>
  <!-- <ng-template #modalHeader><h2>HTML inside modal</h2></ng-template> -->
  <ng-template #modalBody>
    <app-item-details-dialog *ngIf="selectedItem" [item]="selectedItem"></app-item-details-dialog>
  </ng-template>
</modal>
<div class="row-base" style="display: -webkit-flex">
  <section>
    <ul class="results-base">
      <p *ngIf="items.length === 0">No Products found for this category</p>
      <li *ngFor="let item of items | filter : selectedTaxonIds" class="product-base" [style.margin]="getMargin()" itemscope
        itemtype="https://schema.org/Product">
        <div class="product-thumbShim"></div>
        <!-- <a itemprop="url" [routerLink]="['/item', item.id]"> -->
        <a itemprop="url" (click)="selectItem(item)">
          <img itemprop="image"
            class="product-thumb"
            alt="{{item.name}}"
            src="../../assets/mocha-01.jpg">
          <!-- EOSNOTE - TEMPORARY: insert correct image URL -->
          <div class="product-productMetaInfo">
            <div itemprop="name" class="product-brand">{{ item.name }}</div>
            <h2 class="product-product">{{ item.brandName }}</h2>
            <div itemprop="offers" itemscope itemtype="https://schema.org/Offer" class="product-price">
              <span>
                <!-- Discounted price -->

                <span itemprop="price" class="product-discountedPrice">Php {{ item.price }}</span>

                <!-- Original price -->
                <!--<span class="product-strike"> react-text: 485 Rs.  /react-text  react-text: 486 1699 /react-text </span>-->
              </span>
              <!--Percentage off --><!--<span class="product-discountPercentage">(40% OFF)</span>-->
            </div>
            <!-- Product Size --><!--<div class="product-sizes">Sizes: S, M, L, XL, XXL</div>-->
            <button class="btn-danger">ADD TO CART</button>
          </div>
        </a>
        <!-- <div class="product-sizeDisplayDiv">
          <div class="product-sizeDisplayHeader">
            <span>Select a size</span>
            <span class="myntraweb-sprite product-sizeDisplayRemoveMark sprites-remove"></span>
          </div>
          <div class="product-sizeButtonsContaier">
            <button class="product-sizeButton">S</button>
            <button class="product-sizeButton">M</button>
            <button class="product-sizeButton">L</button>
            <button class="product-sizeButton">XL</button>
            <button class="product-sizeButton">XXL</button>
          </div>
        </div>
        <div class="product-actions">
          <span class="product-actionsButton product-wishlist coming-soon">save</span>
          <span class="product-actionsButton product-addToBag">
            <span (click)="addToCart(item)">Add to bag</span>
          </span>
        </div> -->
      </li>
    </ul>
  </section>
</div>
