<modal #itemDetailsModal>
  <!-- <ng-template #modalHeader><h2>HTML inside modal</h2></ng-template> -->
  <ng-template #modalBody>
    <app-item-details-dialog *ngIf="selectedItem" [item]="selectedItem" [cartItems]="cartItems"
      [isAuthenticated] = "isAuthenticated$ | async" [userLists]="userLists$ | async"
      (onCloseModalEmit)="closeItemDialog()" (onClose)="closeItemDialog()"></app-item-details-dialog>
  </ng-template>
</modal>

<div class="row-base" style="display: -webkit-flex">
  <section>
    <ul class="results-base">
      <p *ngIf="items.length === 0">No results found. Please try another keyword or select another category.</p>
      <li *ngFor="let item of items" class="product-base" [style.margin]="getMargin()" itemscope
        itemtype="https://schema.org/Product">
        <app-item-list-entry [item]="item" [cartItem]="getCartItem(item.id)" (onOpenModalEmit)="openItemDialog($event)"></app-item-list-entry>
      </li>
    </ul>
    </section>
  </div>
  <div *ngIf="this.items.length % this.itemsPerPage == 0" class="load-more">
    <section class="scroll_div">
      <button type="button" class="btn-scroll btn-danger" (click)="loadMoreItems()">
        <span class="glyphicon glyphicon-repeat"></span>  Load more...
      </button>
    </section>
  </div>
