.nopaddingleft {
  padding-left: 0;
}

.breadcrumb {
  background-color: #fff;
  text-transform: capitalize;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0px;
  a {
    color: #000;
  }
  li {

  }
}

.content {
  background-color: #fff;
  display: inline-block;
  vertical-align: top;
  .queried-for {
    display: inline;
    overflow: hidden;
    // display: inline-block;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    color: #282c3f;
    width: 50%;
    .q {
      font-weight: 900;
      display: inline-block;
      text-overflow: ellipsis;
      vertical-align: top;
      overflow: hidden;
      white-space: nowrap;
      max-width: 67%;
    }
    span {
      line-height: 39px; // Temporary hack fix it later
      color: #282c3f;
      font-weight: 400;
      font-size: 18px;
      font-style: normal;
    }
  }

  .options {
    position: relative;
    float: right;
    text-align: right;
    margin-top: 12px;
    display: inline-block;
    ul.img-size {
      display: inline-block;
      margin-right: 10px;
      label {
        color: #696b79;
        font-weight: 400;
      }
      li {
        list-style: none;
        display: inline-block;
        cursor: pointer;
        margin: 0 4px -2px;
        width: 19px;
        height: 13px;
        background: url(../../../../assets/search-sprite.d5ab50f1b815dfaf3976c6ce2e19d24670e5ba0b.png) no-repeat transparent;
        &.big {
          background-position: -284px -160px;
          &.selected {
            cursor: default;
            background-position: -284px -180px;
          }
        }
        &.small {
          background-position: -311px -160px;
          &.selected {
            background-position: -311px -180px;
            cursor: default;
          }
        }

      }
    }
    ul.sort {
      display: inline-block;
      position: relative;
      color: #282c3f;
      padding: 0;
      label {
        margin-left: 5px;
        font-weight: 400;
      }
      label:first-child {
        color: #3e4152;
      }
      li {
        display: inline-block;
        margin-left: 5px;
        text-decoration: none;
        cursor: pointer;

      }
      li:after {
        content: ' ';
        display: inline-block;
        height: 11px;
        width: 1px;
        border-left: 1px solid #3e4152;
        margin-left: 5px;
        margin-bottom: -1px;
      }
      label {
        font-weight: 400;
        margin-left: 5px;
        li:first-child {
          margin-left: 0;
        }
        li:after {
          content: none;
        }
      }
    }
    ul.sort:before, ul.sort:after {
      content: "";
      display: table;
    }
  }
  .options:before, .options:after {
    content: "";
    display: table;
  }
}





.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}

/*
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
Image credits: unsplash.com
*/

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 50vh;
    height: 300px;
}
.fade-carousel .carousel-inner .item {
    height: 50vh;
    height: 300px;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    background-color: #ffffff;
    border-color: #ffffff;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 6em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}


.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out 5s;
       -moz-transition: 2s all ease-in-out 5s;
        -ms-transition: 2s all ease-in-out 5s;
         -o-transition: 2s all ease-in-out 5s;
            transition: 2s all ease-in-out 5s;
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out 5s;
       -moz-transition: 2s all ease-in-out 5s;
        -ms-transition: 2s all ease-in-out 5s;
         -o-transition: 2s all ease-in-out 5s;
            transition: 2s all ease-in-out 5s;
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 50vh;
  height: 300px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
// .fade-carousel .slides .slide-1 {
//   background-image: url(../../assets/main-01.jpg);
// }
// .fade-carousel .slides .slide-2 {
//   background-image: url(assets/main-01.jpg);
// }
// .fade-carousel .slides .slide-3 {
//   background-image: url(assets/main-01.jpg);
// }

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }
}


.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.sub-banner div {
  padding-right: 4px !important;
  padding-left: 4px !important;
  img {
    border-radius: 4px;
  }
}
.sub-banner div:first-child {
  padding-left: 0px !important;
  padding-right: 4px !important;
}
.sub-banner div:last-child {
  padding-left: 4px !important;
  padding-right: 0px !important;
}

.top-add {
  margin-bottom: 8px !important;
  img {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}
