<div class="row register-container" data-hook="">
  <div id="content" class="col-sm-11" data-hook="">
    <div class="col-md-4 col-centered">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Signup to {{title}}</h4>
        </div>
        <div id="existing-customer" class="panel-body" data-hook="login">
          <div class="register-third-party-register">
            <p class="register-button-info-text register-info-text">EASILY USING</p>
            <app-register-facebook></app-register-facebook>
          </div>
          <p class="register-button-info-text register-info-text">- OR USING EMAIL -</p>
          <app-register-form></app-register-form>
          <div class="register-link-container">
            <small>
              <div class="register-login-link">
                <span class="register-info-text">Already have an account?</span>
                <a class="register-create-account-link register-link text-danger" [routerLink]="['/auth','login']">Login!</a>
              </div>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
