<nav class="navbar yamm">
 
    <div class="topbar">
        <div class="container">
            <div class="col-md-4">
              <h1><a href="#" class="navbar-brand">Omg</a></h1>
             </div> 
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-secondary" type="button">Go!</button>
                    </span>
                  </div>
            </div>
            
        </div>
        
    </div>
    <div class="header-sticky-wrapper">
        <div class="container">
          <ul >
            <li dropdown dropdownToggle class="dropdown dropdown-toggle"><a href="#">Alxl categories</a>
              <ul *dropdownMenu class="dropdown-menu col-sm-6 col-md-4" role="menu">
                <li><a href="#">Fresh deals</a> </li>
                <li dropdown placement="left" container="body">
                  <a dropdownToggle href="#">Perishables</a>
                  <ul *dropdownMenu class="dropdown-menu col-sm-6 col-md3 list-unstyled" role="menu">
                    <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Bacon</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Beef</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Chicken</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Frozen Meats</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Frozen seafood</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Hotdog & Franks</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Lamb</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Package & sliced Deli</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Pork</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Sausages</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Seafood</a></li>
                    
                  </ul>
                </li>
                <li><a href="#">Grocery</a> </li>
                <li><a href="#">HOusehold</a> </li>
                <li><a href="#">Health and beauty</a> </li>
                <li><a href="#">Specialty goods</a> </li>
                <li><a href="#">Bakery</a> </li>
                <li><a href="#">Pharmacy</a> </li>
                <li><a href="#">Past Purchases</a> </li>
             </ul>
            </li>
            <li dropdown dropdownToggle class="dropdown droxpdown-toggle"><a href="#">Fresh DEals</a>
              <ul *dropdownMenu class="dropdown-menu" role="menu">
                <li><a href="#">Fresh deals</a> </li>
                <li dropdown placement="left" container="body">
                  <a dropdownToggle href="#">Perishables</a>
                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Bacon</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Beef</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Chicken</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Frozen Meats</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Frozen seafood</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Hotdog & Franks</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Lamb</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Package & sliced Deli</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Pork</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Sausages</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Seafood</a></li>
                    
                  </ul>
                </li>
                <li><a href="#">Nike</a> </li>
                <li><a href="#">Adidas</a> </li>
                <li><a href="#">Puma</a> </li>
                <li><a href="#">Specialty goods</a> </li>
                <li><a href="#">Bakery</a> </li>
                <li><a href="#">Pharmacy</a> </li>
                <li><a href="#">Past Purchases</a> </li>
             </ul>
            </li>
            <li dropdown class="dropdown yamm-fw" ><a href="#" class="dropdown-toggle" dropdownToggle>Perishables</a>
              <ul *dropdownMenu class="dropdown-menu">
                <li>
                  <div class="row">
                    <ul class="col-sm-6 col-md-3 list-unstyled">
                      <li>
                        <p class="dropdown-item">Meat & Seafood</p>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Bacon</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Beef</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Chicken</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Frozen Meats</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Frozen seafood</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Hotdog & Franks</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Lamb</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Package & sliced Deli</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Pork</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Sausages</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Seafood</a>
                      </li>
                    </ul>
                    <ul class="col-sm-6 col-md-3 list-unstyled">
                      <li>
                        <p class="dropdown-item">Dairy, Cheese & Eggs</p>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Aritisan CHeese</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Butter & Margarine</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Cottage CHeese</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Eggs & Egg substitutes</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Milk & Cream</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Milk substitues</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Package CHeese</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">REfrigerated DOughs</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Dips & Spreads</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">SOur Cream</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Whipped Toppings</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">YOgurt</a>
                      </li>
                    </ul>
                    <ul class="col-sm-6 col-md-3 list-unstyled">
                      <li>
                        <p class="dropdown-item">Deli</p>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Aritisan CHeese</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">DEli Salads</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Deli-sliced CHeeses</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Dips, Salsas & Spreads</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Fine Pasta & Sauces</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Hotdogs & Franks</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Olive & Antipasto</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Packaged & SLiced DEli Meats</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Sandwhiches & Wraps</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Snack Pack & Lunches</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Soups, Stews & CHili</a>
                      </li>
                    </ul>
                    <ul class="col-sm-6 col-md-3 list-unstyled">
                      <li>
                        <p class="dropdown-item">Artisan Cheese</p>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Blue</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Cheddar & Jack</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Chevre</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Feta</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Fresh</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Hard</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Semi-hard</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Semi-soft</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Soft-Ripened</a>
                      </li>
                    </ul>
                    <ul class="col-sm-6 col-md-3 list-unstyled">
                      <li>
                        <p class="dropdown-item">Package CHeese</p>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">American</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Blue cheese</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Brie</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Cheddar</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Cheese BLends</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Colby</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Feta</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Gouda</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Havarti</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">MExican CHeese</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Monterey Jack</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Mozarella</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Muenster</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Parmesan</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Processed</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Provoloine</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Ricotta</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">String & Snack</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Swiss</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Vegetarian</a>
                      </li>
                    </ul>
                    <ul class="col-sm-6 col-md-3 list-unstyled">
                      <li>
                        <p class="dropdown-item">Frozen FOods</p>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Appetizer & Snacks</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Bread & Dough</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Breakfast Foods</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Dessert & TOppings</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Fruit</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Ice cream & Novelties</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Juice</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Meals & Entrees</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Meats</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Pasta & Sauces</a>
                      </li>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#/dropdowns#nested">Vegetables</a>
                      </li>
                    </ul>
                  </div>
                </li>
               
              </ul>
            </li>
            <li dropdown dropdownToggle class="dropdown dropdown-toggle"><a href="#">Grocery</a>
              <ul *dropdownMenu class="dropdown-menu" role="menu">
                <li><a href="#">MEat & Seafood</a> </li>
                <li dropdown placement="left" container="body">
                  <a dropdownToggle href="#">Deli</a>
                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Bacon</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Beef</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Chicken</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Frozen Meats</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Frozen seafood</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Hotdog & Franks</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Lamb</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Package & sliced Deli</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Pork</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Sausages</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Seafood</a></li>
                      
                    </ul>
                </li>
                <li><a href="#">Dairy, Cheese & Eggs</a> </li>
                <li><a href="#">Aritisan Cheese</a> </li>
                <li><a href="#">Package CHeese</a> </li>
                <li><a href="#">Frozen Foods</a> </li>
                <li><a href="#">YOgurt</a> </li>
                <li><a href="#">Pharmacy</a> </li>
              </ul>
            </li>
            <li dropdown dropdownToggle class="dropdown dropdown-toggle"><a href="#">HOusehold</a>
              <ul *dropdownMenu class="dropdown-menu" role="menu">
                <li><a href="#">MEat & Seafood</a> </li>
                <li dropdown placement="left" container="body">
                  <a dropdownToggle href="#">Deli</a>
                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Bacon</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Beef</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Chicken</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Frozen Meats</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Frozen seafood</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Hotdog & Franks</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Lamb</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Package & sliced Deli</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Pork</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Sausages</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Seafood</a></li>
                    
                  </ul>
                </li>
                <li><a href="#">Dairy, Cheese & Eggs</a> </li>
                <li><a href="#">Aritisan Cheese</a> </li>
                <li><a href="#">Package CHeese</a> </li>
                <li><a href="#">Frozen Foods</a> </li>
                <li><a href="#">YOgurt</a> </li>
                <li><a href="#">Pharmacy</a> </li>
              </ul>
            </li>
            <li dropdown dropdownToggle class="dropdown dropdown-toggle"><a href="#">Healthy and beauty</a>
              <ul *dropdownMenu class="dropdown-menu" role="menu">
                <li><a href="#">MEat & Seafood</a> </li>
                <li dropdown placement="left" container="body">
                  <a dropdownToggle href="#">Deli</a>
                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Bacon</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Beef</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Chicken</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Frozen Meats</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Frozen seafood</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Hotdog & Franks</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Lamb</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Package & sliced Deli</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Pork</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Sausages</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Seafood</a></li>
                      
                    </ul>
                </li>
                <li><a href="#">Dairy, Cheese & Eggs</a> </li>
                <li><a href="#">Aritisan Cheese</a> </li>
                <li><a href="#">Package CHeese</a> </li>
                <li><a href="#">Frozen Foods</a> </li>
                <li><a href="#">YOgurt</a> </li>
                <li><a href="#">Pharmacy</a> </li>
              </ul>
            </li>
            <li dropdown dropdownToggle class="dropdown dropdown-toggle"><a href="#">Specialty goods</a>
              <ul *dropdownMenu class="dropdown-menu" role="menu">
                <li><a href="#">MEat & Seafood</a> </li>
                <li dropdown placement="left" container="body">
                  <a dropdownToggle href="#">Deli</a>
                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Action</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Action1</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Action2</a></li>
                    </ul>
                </li>
                <li><a href="#">Dairy, Cheese & Eggs</a> </li>
                <li><a href="#">Aritisan Cheese</a> </li>
                <li><a href="#">Package CHeese</a> </li>
                <li><a href="#">Frozen Foods</a> </li>
                <li><a href="#">YOgurt</a> </li>
                <li><a href="#">Pharmacy</a> </li>
              </ul>
            </li>
            <li dropdown dropdownToggle class="dropdown dropdown-toggle"><a href="#">Bakery</a>
              <ul *dropdownMenu class="dropdown-menu" role="menu">
                <li><a href="#">MEat & Seafood</a> </li>
                <li dropdown placement="left" container="body">
                  <a dropdownToggle href="#">Deli</a>
                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Bacon</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Beef</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Chicken</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Frozen Meats</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Frozen seafood</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Hotdog & Franks</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Lamb</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Package & sliced Deli</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Pork</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Sausages</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Seafood</a></li>
                      
                    </ul>
                </li>
                <li><a href="#">Dairy, Cheese & Eggs</a> </li>
                <li><a href="#">Aritisan Cheese</a> </li>
                <li><a href="#">Package CHeese</a> </li>
                <li><a href="#">Frozen Foods</a> </li>
                <li><a href="#">YOgurt</a> </li>
                <li><a href="#">Pharmacy</a> </li>
              </ul>
            </li>
            <li dropdown dropdownToggle class="dropdown dropdown-toggle"><a href="#">Pharmacy</a>
              <ul *dropdownMenu class="dropdown-menu" role="menu">
                <li><a href="#">MEat & Seafood</a> </li>
                <li dropdown placement="left" container="body">
                  <a dropdownToggle href="#">Deli</a>
                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Action</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Action1</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Action2</a></li>
                    </ul>
                </li>
                <li><a href="#">Dairy, Cheese & Eggs</a> </li>
                <li><a href="#">Aritisan Cheese</a> </li>
                <li><a href="#">Package CHeese</a> </li>
                <li><a href="#">Frozen Foods</a> </li>
                <li><a href="#">YOgurt</a> </li>
                <li><a href="#">Pharmacy</a> </li>
              </ul>
            </li>
            <li dropdown dropdownToggle class="dropdown dropdown-toggle"><a href="#">Past purchases</a>
              <ul *dropdownMenu class="dropdown-menu" role="menu">
                <li><a href="#">MEat & Seafood</a> </li>
                <li dropdown placement="left" container="body">
                  <a dropdownToggle href="#">Deli</a>
                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Bacon</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Beef</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Chicken</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Frozen Meats</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Frozen seafood</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Hotdog & Franks</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Lamb</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Package & sliced Deli</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Pork</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Sausages</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#/dropdowns#nested">Seafood</a></li>
                      
                    </ul>
                </li>
                <li><a href="#">Dairy, Cheese & Eggs</a> </li>
                <li><a href="#">Aritisan Cheese</a> </li>
                <li><a href="#">Package CHeese</a> </li>
                <li><a href="#">Frozen Foods</a> </li>
                <li><a href="#">YOgurt</a> </li>
                <li><a href="#">Pharmacy</a> </li>
              </ul>
            </li>
          </ul>
        </div>
    </div>
  
    
</nav>

<!-- <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container"> -->
    <!-- <a href="https://github.com/aviabird/angularspree">
      <img style="position: absolute; top: 0; right: 0; border: 0; height: 130px" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67"
        alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png">
    </a> -->
<!-- 
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/"><img src="assets/omg-02.png" alt="Eos Grocery app"></a>
      <div class="desktop-query">
        <input placeholder="Search" class="desktop-searchBar">
        <a class="desktop-submit">
          <span class="web-sprite desktop-iconSearch sprites-search"></span>
        </a>
      </div>
      <app-profile-dropdown [totalCartItems]="totalCartItems | async" [isAuthenticated]="isAuthenticated | async"></app-profile-dropdown>
    </div> -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> -->
      
        <!-- <ul class="nav navbar-nav">
            <li *ngFor="let taxon of taxonList" class="">
              <a (click)="selectTaxon(taxon)" href="javascript:void(0)">{{taxon.name}}
                <span class="sr-only">(current)</span>
              </a>
            </li>
          </ul> -->

      <!-- <div class="nav navbar-nav" dropdown *ngFor="let taxon of taxonList">
        <a href dropdownToggle  type="button" href="javascript:void(0)">{{taxon.name}}</a>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li *ngFor="let child of taxon.children">
            <a class="dropdown-item" href="#">{{child}}</a>
          </li>
        </ul>
      </div> -->
<!-- 
      <ul class="nav navbar-nav">
          <li dropdown *ngFor="let taxon of taxonList">
            <a href dropdownToggle  type="button" href="javascript:void(0)">{{taxon.name}}</a>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
              <li *ngFor="let child of taxon.children">
                <a class="dropdown-item" href="#">{{child}}</a>
              </li>
            </ul>
        </li>
      </ul>  -->
      
       

      
      

<!--     

    </div>
  </div>
</nav> -->
