.topbar {
  padding: 0;
  .container {
    width: 90%;
  }
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.nav-menu-top {
  border-bottom: 1px solid #cccccc;
  li>a {
    color: #696060;
    min-height: 0px;
    letter-spacing: 1px;
    color: #696060;
    font-weight: 350;
    padding-left: 0;
    padding-right: 0;
    margin-right: 20px;
  }
  .navbar-right {
    a {
      border-bottom: 3px solid transparent;
      font-size: 13px;
    }
  }
  .navbar-nav>li>a {
    min-height: 0px;
    letter-spacing: 0.5px; // #606382
  }
  .navbar-nav>li>a:hover {
    color: #ff005d;
    border-bottom: 3px solid transparent;
  }
  .navbar-nav>li.active>a {
    position: relative;
    top: 1px;
    border-bottom: 3px solid #d14e24;
    color: #d14e24;
    border-bottom: 3px solid #e9190e;
    ;
    color: #e9190e;
    font-weight: 500;
  }
}

// .dropdown.dropdown-masked {
//   position: static;
//
//   &.open > .dropdown-menu {
//     background: #ccc;
//     box-shadow: 0 100vh 0 100vh rgba(0,0,0,.5),0 5px 5px rgba(0,0,0,.5);
//     width: 100vw;
//     border-width: 1px 0 0;
//     border-radius: 0;
//     margin-left: -1px; // Negative offset ••••••for the .navbar left 1px border

//   }
// }
//
// // Optionally add css animations on dropdowns
// .dropdown {
//   .dropdown-menu {
//     transition: all 0.3s;
//     max-height: 0;
//     display: block;
//     overflow: hidden;
//     opacity: 0;
//   }
//
//   &.open .dropdown-menu {
//     transition: max-height 1s;
//     max-height: 100vh;
//     opacity: 1;
//   }
// }
.nav-menu-mid {
  padding: 8px 0; // min-height: 100px;
  @media (min-width: 992px) {
    .col-md-1 {
      width: 9.333333%;
    }
  }
  .navbar-nav {
    margin-top: 10px;
    li>a {
      min-height: 0;
    }
  }
  li.dropdown:hover>.dropdown-menu {
    display: block;
  }
}

.navbar-default {
  background-color: white;
  background-image: none;
  border: none;
}

.header-sticky-wrapper {
  background: #ff005d;
}

.header-sticky-wrapper ul {
  float: left;
  padding: 0;
  text-transform: uppercase;
  margin-top: -1px;
}

.header-sticky-wrapper ul li {
  font-size: 11px;
  a {}
}

.header-sticky-wrapper ul li:nth-child(n+10) {
  display: none;
}

.input-group {
  input {
    margin: 10px 0;
    font-size: 16px;
    padding: 20px;
  }
  button {
    padding: 9px 15px;
    line-height: 23px;
    font-size: 20px;
  }
}

.list-unstyled {
  min-width: 120px;
}

.list-unstyled li {
  padding: 4px 0;
}

.yamm .dropdown {
  position: static;
}

.yamm .container {
  position: relative;
}

.yamm .dropdown-menu {
  left: auto; // background: #1ba182;
  // background: #ff005d;
}

.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 0;
  right: 0;
  padding-bottom: 15px;
}

.yamm .yamm-content {
  padding: 20px 30px;
}

.input-group {
  ul.dropdown-menu {
    background-color: #fff !important;
  }
}

.result-box {
  min-width: 335px !important;
  .imgbox {
    width: 40px !important;
    display: inline-block;
    align-self: baseline;
    text-align: center;
  }
  .itemdetailsbox {
    height: 50px;
    padding: 5px 10px;
    display: inline-block;
    vertical-align: middle;
    p:last-child {
      margin: 0;
    }
  }
  img {
    max-height: 50px;
    display: inline-block;
    vertical-align: middle;
  }
}

.catbox {
  text-transform: capitalize;
  padding: 5px;
}

typeahead-container ul.dropdown-menu {
  background-color: #fff;
  li a,
  li a.active {
    color: #000;
  }
}

.navbar-brand {
  margin-top: 10px;
  padding: 0;
  line-height: 70px;
  img {
    width: 90px;
  }
}

.loader-hidden {}

.loader-overlay {
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 500000;
}

@keyframes example {
  0% {
    background-color: red;
    left: 0px;
  }
  50% {
    background-color: red;
    left: 300px;
  }
  100% {
    background-color: red;
    left: 600px;
  }
}

/* The element to apply the animation to */

div .progress-bar {
  height: 2px;
  width: 75px;
  position: absolute;
  background-color: red;
  animation-name: example;
  animation-duration: 1s;
}

// .navbar-header
// {
//   width: 100%
// }
// #navbar-search-input {
//   display: inline-block;
//   font-size: 16px;
//   height: 20px;
//   line-height: 24px;
//   width: 235px;
//   color: #696e79;
//   box-sizing: content-box;
//   padding: 8px 10px 10px;
//   margin: 0;
//   outline: 0;
//   border: 1px solid #d5d6d9;
//   border-radius: 4px 0 0 4px;
//   border-right: 0;
//   background: #f5f5f6;
//   &:focus {
//     background-color: #fff;
//     border-color: #14cda8;
//     box-shadow: none;
//   }
// }
// .input-group-addon {
//   background: #f5f5f6;
// }
// .desktop-query {
//   width: 70%;
//   float: left;
//   line-height: 0;
//   margin: 4px 10px 20px 0;
//   input.desktop-searchBar {
//     font-family: Whitney;
//     display: inline-block;
//     float: left;
//     font-size: 16px;
//     height: 20px;
//     line-height: 24px;
//     width: 90%;
//     color: #696e79;
//     box-sizing: content-box;
//     padding: 8px 10px 10px;
//     margin: 0;
//     outline: 0;
//     border: 1px solid #d5d6d9;
//     border-radius: 4px 0 0 4px;
//     border-right: 0;
//     background: #f5f5f6;
//     &:focus, &:focus+a.desktop-submit {
//       background-color: #fff;
//       border-color: #14cda8;
//     }
//   }
//   a.desktop-submit {
//     box-sizing: content-box;
//     display: inline-block;
//     height: 28px;
//     width: 40px;
//     text-align: center;
//     padding: 8px 0 2px;
//     background: #f5f5f6;
//     border: 1px solid #d4d5d9;
//     border-left: none;
//     border-radius: 0 4px 4px 0;
//     .desktop-iconSearch {
//       display: inline-block;
//     }
//     .sprites-search {
//       width: 21px;
//       height: 21px;
//       // background-position: -284px -160px;
//     }
//     .web-sprite {
//       background: url(../../../assets/search-sprite.d5ab50f1b815dfaf3976c6ce2e19d24670e5ba0b.png);
//       background-position: -209px -148px;
//       // background-size: 1404px 105px;
//       display: inline-block;
//     }
//   }
// }
ul.nav li.dropdown-toggle:hover>ul.dropdown-menu {
  display: block !important;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu a {
  font-size: 14px;
  text-transform: capitalize;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

@media screen and (max-width: 900px) {
  .navbar-nav>li>a {
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  
.side {
  float: right;
}


  body {
    padding-top: 0;
  }
  body {
    background: #fff;
    color: #666;
    font: 90%/180% Arial, Helvetica, sans-serif;
    width: 800px;
    max-width: 96%;
    margin: 0 auto;
  }
  a {
    color: #69C;
    text-decoration: none;
  }
  a:hover {
    color: #F60;
  }
  h1 {
    font: 1.7em;
    line-height: 110%;
    color: #000;
  }
  p {
    margin: 0 0 20px;
  }
  input {
    outline: none;
  }
  .toggle-menu {
    display: none;
  }

  .menu-bar {
    width: 30px;
    height: 4px;
    border-radius: 4px;
    background: #ff5847;
    display: block;
    position: relative;
    transition: .20s ease-in-out;
  }

  label[for="toggle-menu"] {
    height: 24px;
    cursor: pointer;
  }

  .menu-bar:nth-child(1) {
    top: 0;
  }

  .menu-bar:nth-child(2) {
    top: 7px;
    left: 0;
  }

  .menu-bar:nth-child(3) {
    top: 14px;
  }


  .menu-bar-2 {
    width: 30px;
    height: 4px;
    border-radius: 4px;
    background: #000;
    display: block;
    position: relative;
    transition: .20s ease-in-out;
  }

  label[for="toggle-menu-2"] {
    height: 24px;
    cursor: pointer;
  }

  .menu-bar-2:nth-child(1) {
    top: 0;
  }

  .menu-bar-2:nth-child(2) {
    top: 7px;
  }

  .menu-bar-2:nth-child(3) {
    top: 14px;
  }

 

  .hamburger {
    display: block;
    position: absolute;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 81px;
    height: 74px;
    font-size: 0;
    text-indent: -9999px;
    cursor: pointer;
    outline: none;
    background: none;
    border: 0;
    float: left;
    top: -18px;
    left: 75px;
  }
  .hamburger span {
    display: block;
    position: absolute;
    top: 44px;
    left: 18px;
    right: 18px;
    height: 8px;
    background: #ff5847;
  }
  .hamburger span::before,
  .hamburger span::after {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: #ff5847;
    content: "";
  }
  .hamburger span::before {
    top: -13px;
  }
  .hamburger span::after {
    bottom: -13px;
  } // input[type=search] {
  //   -webkit-appearance: textfield;
  //   -webkit-box-sizing: content-box;
  //   font-family: inherit;
  //   font-size: 100%;
  // }
  // input::-webkit-search-decoration,
  // input::-webkit-search-cancel-button {
  //   display: none;
  // }
  // input[type=search] {
  //   background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  //   border: solid 1px #ccc;
  //   padding: 9px 10px 9px 32px;
  //   width: 55px;
  //   -webkit-border-radius: 10em;
  //   -moz-border-radius: 10em;
  //   border-radius: 10em;
  //   -webkit-transition: all .5s;
  //   -moz-transition: all .5s;
  //   transition: all .5s;
  // }
  // input[type=search]:focus {
  //   width: 130px;
  //   background-color: #fff;
  //   border-color: #66CC75;
  //   -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
  //   -moz-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
  //   box-shadow: 0 0 5px rgba(109, 207, 246, .5);
  // }
  // input:-moz-placeholder {
  //   color: #999;
  // }
  // input::-webkit-input-placeholder {
  //   color: #999;
  // }
  // /* Demo 2 */
  // #demo-2 input[type=search] {
  //   width: 15px;
  //   padding-left: 10px;
  //   color: transparent;
  //   cursor: pointer;
  // }
  // #demo-2 input[type=search]:hover {
  //   background-color: #fff;
  // }
  // #demo-2 input[type=search]:focus {
  //   width: 130px;
  //   padding-left: 32px;
  //   color: #000;
  //   background-color: #fff;
  //   cursor: auto;
  // }
  // #demo-2 input:-moz-placeholder {
  //   color: transparent;
  // }
  // #demo-2 input::-webkit-input-placeholder {
  //   color: transparent;
  // }
  .nav-menu-mid {
    padding: 0;
  }
  #search-menu {
    height: 500px;
  }
  .mobile {
    padding: 10px 10px 0;
  }
  .navbar-toggle {
    padding: 8px 10px;
  }
  .navbar-default {
    width: 100%;
    height: 51px;
  }
  .input-group {
    display: none;
  }
  .navbar-toggle {
    float: right;
  }
  .omglogo {
    width: 55%; //padding-left: 91px;
    float: left;
    line-height: 29px; //text-align: center;
  }
  .omglogo img {
    max-width: 70px;
  }




  @media screen and (max-width: 414px) {
    .omglogo {
      width: 18%;
    }
    .cart {
      margin-right: 9px;
    }
  }
  @media screen and (max-width: 375px) {
    .omglogo {
      width: 47%;
      padding-left: 68px;
    }
    .omglogo img {
      max-width: 55px;
    }
  }
}

