.nopadding {
  padding: 0;
}

.topbar {
  padding: 0;

  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.nav-menu-top {
  border-bottom: 1px solid #cccccc;
  li > a {
    color: #696060;
    min-height: 0px;
    letter-spacing: 1px;
    color: #696060;
    font-weight: 350;
    padding-left: 0;
    padding-right: 0;
    margin-right: 20px;
  }
  .navbar-right {
    a {
      border-bottom: 3px solid transparent;
      font-size: 13px;
    }
  }
  .navbar-nav>li>a {
    min-height: 0px;
    letter-spacing: 0.5px; // #606382
  }
  .navbar-nav>li>a:hover {
    color: #ff005d;
    border-bottom: 3px solid transparent;
  }
  .navbar-nav>li.active>a {
    position: relative;
    top: 1px;
    border-bottom: 3px solid #d14e24;
    color: #d14e24;
    border-bottom: 3px solid #e9190e;
    color: #e9190e;
    font-weight: 500;
  }
}

.nav-menu-mid {
  padding: 8px 0;

  li.dropdown:hover > .dropdown-menu {
    display: block;
  }
  .navbar-nav {
    margin-top: 10px;
    li > a {
      min-height: 0;
    }
  }
  .navbar-brand {
    padding: 0;
    line-height: 62px;
    img {
      width: 90px;
      display: inline-block;
    }
  }


}

.navbar-default {
  background-color: white;
  background-image: none;
  border: none;
}

.input-group {
  input {
    margin: 10px 0;
    font-size: 16px;
    padding: 20px;
  }
  button {
    padding: 9px 15px;
    line-height: 23px;
    font-size: 20px;
  }
  ul.dropdown-menu {
    background-color: #fff !important;
  }
}

.result-box {
  min-width: 335px !important;

  .imgbox{
    width: 40px !important;
    display: inline-block;
    align-self: baseline;
    text-align: center;
  }
  .itemdetailsbox {
    height: 50px;
    padding: 5px 10px;
    display: inline-block;
    vertical-align: middle;

    p:last-child {
      margin: 0;
    }
  }
  img {
    max-height: 50px;
    display: inline-block;
    vertical-align: middle;
  }
}

.catbox {
  text-transform: capitalize;
  padding: 5px;
}

typeahead-container ul.dropdown-menu {
  background-color: #fff;

  li a, li a.active {
    color: #000;
  }
}

.loader-overlay {
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 500000;
}

@keyframes example {
  0% {
    background-color: red;
    left: 0px;
  }
  50% {
    background-color: red;
    left: 300px;
  }
  100% {
    background-color: red;
    left: 600px;
  }
}

/* The element to apply the animation to */

div .progress-bar {
  height: 2px;
  width: 75px;
  position: absolute;
  background-color: red;
  animation-name: example;
  animation-duration: 1s;
}


ul.nav li.dropdown-toggle:hover>ul.dropdown-menu {
  display: block !important;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu a {
  font-size: 14px;
  text-transform: capitalize;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

@media screen and (max-width: 767px) {
  body {
    background: #fff;
    color: #666;
    font: 90%/180% Arial, Helvetica, sans-serif;
    width: 800px;
    max-width: 96%;
    margin: 0 auto;
  }

  a {
    color: #69C;
    text-decoration: none;
  }

  a:hover {
    color: #F60;
  }

  h1 {
    font: 1.7em;
    line-height: 110%;
    color: #000;
  }

  p {
    margin: 0 0 20px;
  }

  input {
    outline: none;
  }

  .navbar-toggle {
    padding: 8px 10px;
    margin-top: 10px;
  }
  .navbar-default {
    .navbar-collapse {
      width: 100%;
      top: 51px;
      background: #fff;

      ul {
        margin-top: 0;
        box-shadow: 0 4px 2px 0 #cccccc;
        li {
          text-align: left;
          border-bottom: 1px solid #ff5847;
          padding: 5px 20px;
          a {
            min-height: initial;
            &:hover {
              color: #ff005d;
            }
          }
        }
      }
    }
    .mobile-header {
      button {
        float: none;
      }
      .cart-summary {
        color: #777;
        font-size: 14px;
        font-weight: 500;
        padding: 10px 15px;
        line-height: 20px;
        border: 2px solid #ff005d;
        border-top: 0;
        float: right;
        margin-right: 10px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        .fa {
          font-size: 2rem;
        }
      }
      .navbar-brand {
        padding: 10px;
        img {
          width: 70px;
        }
      }
    }
  }

  .categories {
    .btn {
      text-align: left;
      color: #777;
      .caret {
        right: 15px;
      }
    }
    .accordion {
      position: absolute;
      z-index: 10;
      top: 100%;
      width: 100%;
      max-height: calc(100vh - 110px);
      overflow-y: auto;
      .panel-group {
        width: 100%;
      }
      .panel-group .panel + .panel {
        margin-top: 0;
      }

      .category-name-title {
        text-transform: capitalize;
      }

      .category-name {
        padding: 0 5px;
        div {
          display: flex;
          align-items: center;
          height: 50px;
          border-bottom: 1px solid #aaa;
          cursor: pointer;

          a {
            color: #ff005d;
            text-transform: capitalize;
            &:hover {
              color: #000;
            }
          }
        }
        &:first-child {
          div {
            border-bottom-width: 2px;
            font-weight: bold;
          }
        }
      }
    }
  }
}
