.table > tbody > tr > td {
  vertical-align: middle;
  padding: 2px 8px;
}

a {
  color: #000;
}

hr {
  margin: 10px 0;
}

.table-border {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  height: 562px;
  .table {
    margin-bottom: 0;
  }
}
