::ng-deep {
  .modal-body {
    padding: 20px;
  }
  div.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%; // background-color: rgba(255, 255, 255, 0.8);
    background-color: rgba(10, 100, 100, 0.8);
    background-color: rgba(65, 65, 65, 0.8);
  }
  div.modal-dialog {
    //padding: 25px;
    position: absolute;
    top: 35%;
    left: 50%;
    width: 86%;
    -webkit-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
    height: 65%;
  }
  .modal-content {
    background: #f9f8f8;
    background: #ffffff;
    border-radius: 0px;
  }
  .modal.in {
    display: initial;
    z-index: 100001;
  }
  .modal-header {
    display: none;
    ;
    padding-bottom: 14px;
    >h2 {
      flex: 1;
    }
    .close {
      background-color: #fff;
      font-weight: 100;
      font-size: 2.5rem;
      border: 0;
      border-radius: 999px;
      padding: 0;
      margin: 0;
      line-height: 1rem;
      height: 4rem;
      width: 4rem;
      &:hover {
        background-color: #ccc;
      }
    }
  }
  .modal-footer {
    display: none;
  }
}
.dropdown-toggle {
  background-color: red;
}


