<h3 class="first">Basic</h3>
<p-dataTable [value]="transaction" [loading]="loading">
  <p-column field="order_id" header="Order Id"></p-column>
  <p-column field="id" header="Transaction Number"></p-column>
  <p-column field="brand" header="Brand"></p-column>
  <p-column field="dateCreated" header="Date Created"></p-column>
</p-dataTable>

<h3>Dynamic Columns</h3>
<p-dataTable [value]="transactions">
  <p-column *ngFor="let t of transactions" [field]="transactions.field" [header]="transactions.header"></p-column>
</p-dataTable>