<div>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Transaction ID</th>
        <th>Date Created</th>
        <th>Status</th>
        <th>Transaction Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of transaction; let i = index"  (click)="setClickedRow(i)" [class.active]="i == selectedRow">
        <td>{{t.order_id}}</td>
        <td class="text-uppercase">{{t.id}}</td>
        <td class="text-uppercase">{{t.dateCreated | date:'fullDate' }}</td>
        <td class="text-uppercase"></td>
        <td class="text-uppercase">{{t.action}}</td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-success btn-sm" (click)="openItemDialog($event)">PRINT</button>
           

          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<modal #UserDetailsModal>

  <ng-template #modalBody>
    <app-print-transactions [transaction]="transaction">
      <!-- <button (click)="showDialog = !showDialog">close</button> -->
    </app-print-transactions>
  </ng-template>
</modal>