<br />
<div class="row">
<div class="col-md-12">
  <button type="button" class="btn btn-block btn-primary" (click)="placeOrder()"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Checkout now</button>
</div>
</div>
<div class="panel panel-default">

    <div class="col-md-12">
      <strong>Subtotal (# item)</strong>
      <div class="pull-right">
        <!-- <span>{{totalCartValue | currency:'PHP':true:'1.2'}}</span> -->
        <span>₱ {{totalCartValue | number:'1.2-2'}}</span>
      </div>
    </div>
    <div class="col-md-12">
      <strong>Service Fee</strong>
      <div class="pull-right">
        <span>₱ {{serviceFee | number:'1.2-2'}}</span>
      </div>
    </div>
    <div class="col-md-12">
      <small>Delivery Fee</small>
      <div class="pull-right">
        <span>₱ {{deliveryFee | number:'1.2-2'}}</span>
      </div>
      <hr>
    </div>
    <!-- <div class="col-md-12">
      <strong>Discounts</strong>
      <div class="pull-right">
        <span>₱ 200.00</span>
      </div>
      <hr>
    </div> -->
    <!-- <div class="col-md-12">
      <p>Get <span>FREE delivery</span> for orders Php 1,500 and above!</p>
      <hr>
    </div> -->
    <div class="col-md-12">
      <small>Grand Total</small>
      <div class="pull-right">
        <span>₱ {{totalCartValue + deliveryFee + serviceFee | number:'1.2-2'}}</span>
      </div>
      <hr>
    </div>
    <div class="col-md-12">
        <form class="coupon">
          <div class="input-group">
          <input #coupon placeholder="Coupon code" class="form-control input-sm">
             <span class="input-group-btn">
             <button #appCoupon class="btn btn-default btn-sm" (click)="applyCoupon(coupon)">Apply</button>
            </span>
          </div>
          <p class="small">Limited to use of 1 coupon per checkout. Coupon is subject to Terms and Conditions.</p>
        </form>

        <hr>
    </div>
    <div class="col-md-12">
      <strong>Total</strong>
      <div class="pull-right">
        <span>₱ {{totalAmtDue | number:'1.2-2'}}</span>
      </div>
      <p class="small">If everything looks good, click on CHECKOUT NOW to enter your delivery and payment information</p>
    </div>
    &nbsp;
</div>

<!-- <div class="order-total-summary">
  <div class="coupon-section">
    <span class="text-label">Coupons</span>
    <a class="apply-coupon coming-soon"></a>
  </div>
  <div class="gift-wrap-order">
    <span class="gift-wrap-checkbox coming-soon"></span>
    <a href="" class="gift-card-lbl">Gift wrap for</a>
    <span class="gift-card-price">$1</span>
    <span class="not-cod">Cash/Card On Delivery not available</span>
  </div>
  <div class="order-summary-span">
    <div class="bag-total">
      <span>Bag Total</span>
      <span class="value">${{totalCartValue | number:'1.2-2'}}</span>
    </div>
    <div class="coupon">
      <span>Coupon Discount</span>
      <span class="apply-coupon c-blue coming-soon">Apply Coupon</span>
    </div>
    <div class="shipping">
      <span>Delivery</span>
      <span class="shipping-fee c-green">FREE</span>
    </div>
  </div>
  <div class="order-total footer">
    <div class="place-order">
      <button (click)="placeOrder()" class="order-btn">PLACE ORDER</button>
    </div>
    <div class="total-amount">
      <span class="total-rupees">${{totalCartValue | number:'1.2-2'}}</span>
    </div>
  </div>
</div> -->
