.order-total-summary {
  position: fixed;
  margin-right: 80px;
}

.panel-default {
  padding-top: 10px;
  margin: 10px 0 0 0;
}

.panel-default p span {
  color: red;
}

// .panel-default .btn {
//   background-color: #ff5848;
//   color: #fff;
//   border-color: none;
//   text-transform: uppercase;
// }

.coupon input {
  padding: 5px 14px;
  border-radius: 5px;
}

.panel-default {
  padding-top: 1em;
}

.panel-default p span {
  color: red;
}

.line-through{
  text-decoration: line-through;
}

// .panel-default .btn {
//   background-color: #ff5848;
//   color: #fff;
//   border-radius: 0px;
//   text-transform: uppercase;
// }
.box {
  padding: 8px;
}
.coupon input {
  padding: 5px 14px;
 border-radius: 0px;

}

.checkout {
  margin-top: 10px;
}
