<div class="row login-container" data-hook="">
  <div id="content" class="col-sm-12" data-hook="">
    <div class="col-md-5 col-centered">
      <div class="panel panel-default">
        <div id="existing-customer" class="panel-body" data-hook="login">
          <div class="auth-logo">
            <img src="../assets/omg-logo-01.png" />
          </div>
          <!-- <div class="panel-heading">
            <h3 class="panel-title">E-mail</h3>
          </div> -->
          <app-login-form></app-login-form>
          <div>or</div>
          <div class="login-button-container">
            <app-login-facebook></app-login-facebook>
          </div>
          <div class="login-link-container">
            <small>
              <a class="login-link text-danger" routerLink="/">Forgot Password?</a>
              <div class="login-right-links">
                <span class="text-default">New to {{title}}?</span>
                <a class="login-create-account-link login-link text-danger" [routerLink]="['/auth']" preserveQueryParams>Create Account</a>
              </div>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
