.order-list {
  max-height: 250px;
  overflow-y: scroll;
}
.panel {
  div {
    color: #666666;    
  }
}
h5 {
  margin-bottom: 0px;
  font-weight: normal;
}
h4 {
  font-weight: 500;
}
.disclaimer .glyphicon {
  top: 3px;
}

