<div>
  <h1>Congratulations!</h1>
  <div class="form-inline">
    <button class="btn btn-danger" [routerLink]="['/']">Continue Shopping</button>
    <button *ngIf="saveListState == 0" class="btn btn-default" (click)="saveListState = 1">Save items to List</button>
    <!-- <button *ngIf="saveListState == 0 && isAuthenticated$ | async" class="btn btn-default" (click)="saveListState = 1">Save items to List</button> -->
    <div *ngIf="saveListState == 1" class="input-group">
      <input type="text" class="form-control" placeholder="List Name" [(ngModel)]="inputNewList">
      <div class="input-group-btn">
        <button class="btn btn-danger" type="button" (click)="createNewList()">Save</button>
      </div>
    </div>
  </div>
</div>
