.dialog-header {
  float: right;
  span {
    font-weight: bold;
  }
  .closeModal {
    color: red;
  }
  .glyphicon-remove {
    font-size: 24px;
  }

}



.item-details {
  .item-images {
    float: left;
  }
  .item-image-thumbnails {
    float: left;
    width: 120px;
    float: left;
    display: inline-block;
    margin: 0 0 0 15px;
    img {
      border: 1px solid #bababa;
      width: 100%;
    }
    img:first-child {
      border-color: #ec7064;
    }
  }
  .item-info {
    float: right;
    font-weight: 300; //width: 50%;
    div {
      margin-bottom: 10px;
      font-weight: 400;
      /* font-size: 1.2em; */
      p {
        margin: 0;
        font-size: 1.1em;
        font-weight: 300;
        letter-spacing: 0.5px;
        line-height: 27px;
        label {
          font-weight: 300;
          width: 90px;
          text-align: right;
          margin: 0px;
        }
        span {
          font-weight: normal;
        }
        span.red {
          color: #ec7064;
        }
      }
      p.title {
        font-size: 25px;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 3px;
      }
      p.description {
        font-weight: 500;
      }
      p.lp {
        span {
          color: #697071;
          text-decoration-line: line-through;
          text-decoration-color: red;
        }
      }
    }
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.dropdown-toggle {
  width: 100%;
  text-align: left;
  border: none;
  background: transparent;
}

.suggested-items {
  margin-top: 10px;
  border-top: 1px solid #000;
}

.quantity-in-cart {
  float: left;
  background: #ff5848;
  color: #fff;
  font-size: 1.2em;
  //width: 36%;
  height: 34px;
  padding-left: 8px;

}

.quantity-in-cart {
  padding-left:5px;
  padding-right: 0px;

  font-size: 1em;
  text-transform: uppercase;
}
.quantity-in-cart .btn-success {
  float: right;
  border-radius: 0px;
}

.quantity-in-cart input {
  background: transparent;
  border: none;
  width: 15%;
}
.quantity-in-cart span {
  color: #fff;
}


.quantity-in-cart-btn {
  border: none;
  background: transparent;
}
.addtocart {
  padding: 0;
}



.quantity-wish-list {
  background: #0be0c7;
  width: 33%;
  height: 34px;
  border: none;
  color: #fff;
  margin-left: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

.btn-danger {
  background: #ff5847;
  width: 100%;
}

input[value="1"] {
  margin: 0 auto;
}

.thumbnails {
  list-style: none;
}

.caption h4 {
  margin: 0;
}

.caption p {
  margin: 0;
}

.caption .price {
  font-weight: bold;
}

.orange {
  background-color: #ff5848;
  width: 100%;
  border: none;
}

.carousel {
  overflow: hidden;
}

.carousel-inner {
  width: 89%;
  float: left;
}

.carousel nav {
  float: right;
  position: relative;
  overflow: hidden;
  width: 11%;
}

s {
  color: red;
}

input[type='number'] {
  -moz-appearance: textfield;
}


/* Webkit browsers like Safari and Chrome */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

