<div *ngIf="item">
  <div class="dialog-header">
    <ol *ngIf="itemCategories[0]" class="breadcrumb small">
      <li>&nbsp;</li>
      <li ><a (click)=selectCategory(itemCategories[0])>{{itemCategories[0].name}}</a></li>
      <li *ngIf="itemCategories[1]"><a (click)=selectCategory(itemCategories[1],itemCategories[0])>{{itemCategories[1].name}}</a></li>
      <li *ngIf="itemCategories[2]"><a (click)=selectCategory(itemCategories[2],itemCategories[1],itemCategories[0])>{{itemCategories[2].name}}</a></li>
    </ol>
    <a href="javascript:void(0)" class="closeModal" (click)="onCloseModal()"><span class="glyphicon glyphicon-remove"></span></a>
  </div>
  <div class="item-details row">
    <!-- <div class="lighter">
        <p-lightbox class="col-sm-6" [images]="images"></p-lightbox>
    </div> -->
    <div class="item-image-thumbnails col-md-1 col-xs-3">
      <img [src]="getItemImageUrl(item.imageKey)" (error)="onImageError()" />
    </div>
    <div class="item-images col-md-4">
      <img class="img-responsive" [src]="getItemImageUrl(item.imageKey)">
    </div>
    <!-- INSERT IMAGES HERE -->
    <div class="item-info col-md-6">
      <div class="row item-name">
        <p class="title">{{item.name}}</p>
        <p>{{item.brandName}}</p>
        <!-- <p>{{item.sizing}}</p> -->
      </div>
      <div class="row meta-info">
        <p class="lp" *ngIf="hideListPrice(item.displayPrice, item.price)">
          <label>List Price:</label>
          <span>{{item.displayPrice | currency:'PHP':true:'1.2'}}</span>
        </p>
        <p>
          <label>Price:</label>
          <span class="red">{{item.price | currency:'PHP':true:'1.2'}}</span>
        </p>
        <p *ngIf="hideSavings(item.displayPrice, item.price)">
          <label>You Save:</label>
          <span>{{item.displayPrice - item.price | currency:'PHP':true:'1.2'}}</span>
        </p>
        <p>
          <label>Quantity:</label>
          <span style="display: inline-block;">{{itemQuantity}}</span>
        </p>
        <!-- <p>You Save: <span style='color: black; font-weight: bold'>Php 300.00(14.28%)</span></p> -->
        <div class="disclaimer-container">
          <label class="info-sign"><i class="glyphicon glyphicon-info-sign"></i></label>
          <span class="disclaimer" *ngIf="this.item.weighted">
            <small>Disclaimer: Actual price may vary slightly, especially for meat and produce. But our friendly OMG! staff will contact you if ever... For meat and some produce, price indicated is for 1 kilogram.  You may order less than a kilo but should be in increments of 250 grams (250g, 500g, 750g, etc.).</small>
          </span>
        </div>
      </div>
      <div class="row">
        <!-- <p> -->
        <div class="quantity-dialog">
          <div class="buttons">
            <div *ngIf="itemQuantity != 0; else addCart" class="input-group btn-block">
              <span class="input-group-btn">
                <button title="Remove 1" type="button" class="btn btn-minus btn-default" data-type="minus" data-field="" (click)="decrementQuantity()" [disabled]="itemQuantity == MIN_VALUE"><span class="glyphicon glyphicon-minus"></span></button>
              </span>
              <input type="number" class="form-control text-center"
                [min]="MIN_VALUE" [max]="MAX_VALUE" step="1"
                [value]="itemQuantity" [formControl]="quantityControl"
                (blur)="checkIfValid($event)" (keypress)="keyPress($event)" />
              <span class="input-group-btn"><button title="Add more of this item" type="button" class="btn btn-success quantity-in-cart-btn" data-type="plus" data-field="" (click)="incrementQuantity()" [disabled]="itemQuantity == MAX_VALUE"><span class="glyphicon glyphicon-plus"></span></button></span>
            </div>
            <ng-template #addCart>
              <button title="Add 1 item" class="quantity-in-cart-add btn btn-block btn-success" (click)="addToCart()"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;Add to cart</button>
            </ng-template>
          </div>
          <!-- START: ADD TO MY LIST-->
          <div class="buttons">
            <div class="btn-group btn-block" dropdown [autoClose]="false">
              <button dropdownToggle type="button" class="add-to-list btn btn-primary btn-block">
                <i class="glyphicon glyphicon-edit"></i>Add to my list
              </button>
              <ul *dropdownMenu class="dropdown-menu list-dropdown" role="menu">
                <ng-container *ngIf="isAuthenticated; else notAuth">
                  <div class="user-list">
                    <ng-container *ngFor="let userList of userLists; let i = index">
                      <li role="menuitem">
                        <div class="list-dropdown-item" title="{{userList.name}}" (click)="selectList(i, userList.id)">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" name="checkboxState{{i}}" [(ngModel)]="listState[userList.id]">
                              <span class="cr"><i class="cr-icon fa fa-check"></i></span>{{userList.name}}
                            </label>
                          </div>
                        </div>
                      </li>
                    </ng-container>
                    <ng-container *ngIf="userLists.length == 0">
                      <li role="menuitem">
                        <div class="list-dropdown-item">
                          <span><i>No list created</i></span>
                        </div>
                      </li>
                    </ng-container>
                  </div>
                  <li class="divider dropdown-divider"></li>
                  <li role="menuitem" class="list-dropdown-item">
                    <div>
                      <ng-container *ngIf="!isCreateList; else createList">
                        <!-- <span (click)="toggleCreateNewList()"><span class="glyphicon glyphicon-plus"></span>&nbsp;Create new list</span> -->
                        <div class="input-group">
                           <span class="input-group-btn"><button class="btn btn-primary btn-block newList" type="button" (click)="toggleCreateNewList()"><i class="glyphicon glyphicon-edit"></i> Create new list</button></span>
                        </div>
                      </ng-container>
                      <ng-template #createList>
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="List Name" [formControl]="inputNewList">
                          <div class="input-group-btn">
                            <button class="btn btn-default" type="button" (click)="createNewList()">
                              <i class="glyphicon glyphicon-plus"></i>
                            </button>
                          </div>
                        </div>
                      </ng-template>
                    </div>
                  </li>
                </ng-container>
                <ng-template #notAuth>
                  <li role="menuitem">
                    <div class="panel-body">
                      <p>Login to add this item to a list.</p>
                      <hr>
                      <button type="button" class="btn btn-primary" [routerLink]="['/auth', 'login']" [queryParams]="{ returnUrl: '/item/' + item.id + '/' + item.slug }">Login</button>
                    </div>
                  </li>
                </ng-template>
              </ul>
            </div>
          </div>
          <!-- END: ADD TO MY LIST-->
        </div>
        <!-- </p> -->
      </div>
      <div class="row item-instructions">
        <ng-container *ngIf="itemQuantity">
          <div class="form-group">
            <label for="comment">Special Instructions:</label>
            <textarea class="form-control" rows="3" (blur)="onInstructionsBlur()" [formControl]="specialInstructions" placeholder="Provide alternative item when this item is not available"></textarea>
          </div>
        </ng-container>
      </div>
    </div> <!-- div.item-info -->
  </div>
  <!-- START: RECOMMENDED LIST -->
  <hr class="recommended-divider">
  <div class="row suggested-items">
    <h5>You might also be interested in these items</h5>
    <section class="col-xs-12">
      <div class="slider-container">
        <div class="back" (click)="sliderBack()" [ngClass]="{'disabled': itemSlider.state == 'set1'}">
          <i class="glyphicon glyphicon-chevron-left"></i>
        </div>
        <div class="slider">
          <ul [ngClass]="itemSlider.class">
            <li *ngFor="let suggested of suggestedItems" class="product-base" itemscope
              itemtype="https://schema.org/Product">
              <app-item-list-entry [item]="suggested" [cartItem]="getCartItem(suggested.id)" (onOpenModalEmit)="openSuggestedItem($event)"></app-item-list-entry>
              <!--span class="product-zoom glyphicon glyphicon-search"></span-->
            </li>
          </ul>
        </div>
        <div class="next" (click)="sliderNext()" [ngClass]="{'disabled': itemSlider.state == 'set3' || this.suggestedItems.length < 6 || (itemSlider.state == 'set2' && this.suggestedItems.length < 11)}">
          <i class="glyphicon glyphicon-chevron-right"></i>
        </div>
      </div>
    </section>
  </div>
  <!-- END: RECOMMENDED LIST -->
</div>
      <!-- <div>
        When this item is not available
         <div class="btn-group btn-select-item" dropdown>
        <button dropdownToggle type="button" class="drop1 dropdown-toggle">
          Select another item
          <span class="caret caret1"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li role="menuitem">
            <a class="dropdown-item" href="#">Action</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Another action</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Something else here</a>
          </li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Separated link</a>
          </li>
        </ul>
      </div>
</div> -->
