.panel-default {
  padding: 10px 0;
  margin: 10px 0;

  hr{
    margin: 10px 0;
  }
  h5 {
    color: #464646;
    margin-bottom: 0px;
    font-weight: normal;
  }
  h4 {
    color: #ff5847;
    font-weight: 500;
  }
  .long-text {
    max-width: 210px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .order-list {
    max-height: 150px;
    overflow-y: scroll;
    margin-bottom: 5px;
  }
  .save-list {
    height: 25px;
  }
}
