.breadcrumb {
  a {
    color: #666;
  }
}

.valign-top {
  vertical-align: top;
}

.underline {
  border-width: 0px 0px 2px;
  border-radius: 0px;
  box-shadow: inherit;
}

.item-img-container {
  border: 1px solid #eee;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
}

.item-img {
  max-width: 90px;
  max-height: 90px;
  vertical-align: middle;
  display: inline-block;
}
