<div *ngIf="orderSeller">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/admin','orders']">Orders</a></li>
    <li class="breadcrumb-item text-primary" aria-current="page">Order Details - #{{orderSeller.orderNumber}}</li>
  </ol>
</nav>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody class="item-list">
    <tr *ngFor="let item of orderItems; let i = index;">
      <td>
        <div class="item-img-container">
          <img class="img-responsive item-img" [src]="getProductImageUrl(item.imageKey)" alt="item.name">
        </div>
        <div class="item-name">
          {{item.name}}<br>Price: ₱ {{item.price | number:'1.2-2'}}
        </div>
      </td>
      <td class="text-uppercase">{{item.quantity}}</td>
      <td>
        <div>
          <label class="btn btn-lg btn-default" [(ngModel)]="orderItemStatus[item.orderItem_id]" btnRadio="1">Confirm</label>
          <label class="btn btn-lg btn-default" [(ngModel)]="orderItemStatus[item.orderItem_id]" btnRadio="2">Unavailable</label>
        </div>
        <!-- <pre>{{orderItemStatus[item.orderItem_id]}}</pre> -->
      </td>
    </tr>
  </tbody>
</table>
</div>
