<div *ngIf="orderSeller">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/admin','orders']">Orders</a></li>
    <li class="breadcrumb-item text-primary" aria-current="page">Order Details - #{{orderSeller.orderNumber}}</li>
  </ol>
</nav>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-md-4 padding-left-0">
      Item(s) Processed: {{itemsConfirmed + itemsUnavailable}} / {{orderItems.length}}<br>
      Confirmed Item(s): {{itemsConfirmed}}<br>
      Unavailable Item(s): {{itemsUnavailable}}<br>
    </div>
    <div class="col-md-4 padding-left-0">
      Item(s) Quantity: {{itemsQuantity}}<br>
      Item(s) Sub-total: ₱ {{itemsTotal | number:'1.2-2'}} <br>
    </div>
    <div class="col-md-4 padding-right-0 text-right">
      <button type="button" class="btn btn-danger btn-lg" [disabled]="itemsConfirmed + itemsUnavailable != orderItems.length">FINALIZE ORDER</button>
    </div>
  </div>
</div>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>Total</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody class="item-list">
    <tr *ngFor="let item of orderItems; let i = index;">
      <td>
        <div class="item-img-container">
          <img class="img-responsive item-img" [src]="getProductImageUrl(item.imageKey)" alt="item.name">
        </div>
        <div class="item-name">
          <span [ngClass]="{'unavailable': item.status == 'unavailable'}">{{item.name}}<br>Price: ₱ {{item.price | number:'1.2-2'}}</span>
        </div>
      </td>
      <td class="text-uppercase">
        <div class="input-group">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" (click)="decrementQuantity(i)" [disabled]="item.finalQuantity == MIN_VALUE || item.status != null">
              <span class="glyphicon glyphicon-minus"> </span>
            </button>
          </span>
          <input type="number" class="text-center form-control" [value]="item.finalQuantity" disabled/>
           <span class="input-group-btn">
             <button type="button" class="btn btn-success" (click)="incrementQuantity(i)" [disabled]="item.finalQuantity == MAX_VALUE || item.status != null">
               <span class="glyphicon glyphicon-plus"></span>
             </button>
           </span>
        </div>
      </td>
      <td class="text-right">
        <span [ngClass]="{'unavailable': item.status == 'unavailable'}">₱ {{(item.price * item.finalQuantity) | number:'1.2-2'}}</span>
      </td>
      <td>
        <div>
          <label class="btn btn-lg btn-default" [(ngModel)]="orderItemStatus[item.orderItem_id]" btnRadio="1" (click)="confirm(item)">Confirm</label>
          <label class="btn btn-lg btn-default" [(ngModel)]="orderItemStatus[item.orderItem_id]" btnRadio="2" (click)="unavailable(item)">Unavailable</label>
          <label class="btn btn-lg btn-default" (click)="reset(item)">Reset</label>
        </div>
        <!-- <pre>{{orderItemStatus[item.orderItem_id]}}</pre> -->
      </td>
    </tr>
  </tbody>
</table>
</div>
