<div *ngIf="order">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/user','orders']">Orders</a></li>
      <li class="breadcrumb-item text-primary" aria-current="page">Order Details - #{{order.number}}</li>
    </ol>
  </nav>
  <h5>SHIPPING DETAILS</h5>
  <div class="panel panel-default">
    <div class="row panel-body">
      <div class="col-md-6">
        <h5>Order No: {{order.number}}</h5>
      </div>
      <div class="col-md-6">
        <h5>Ordered on {{order.dateCreated | date:'fullDate'}}</h5>
      </div>
      <div class="col-md-6">
        <h5>ADDRESS</h5>
        <address>
          <strong>{{order.firstname}} {{order.lastname}}</strong><br>
          {{order.shippingAddress01}}<br>
          <ng-container *ngIf="order.shippingAddress02">
            {{order.shippingAddress02}}<br>
          </ng-container>
          {{order.city}}, {{order.country}} {{order.postalcode}}<br>
          <abbr title="Mobile Number">M:</abbr> {{order.phone}}
          <ng-container *ngIf="order.landline">
            <br><abbr title="Phone Number">P:</abbr> {{order.landline}}
          </ng-container>
        </address>
      </div>

      <div class="col-md-6">
        <h5>ORDER SUMMARY</h5>
        <dl>
          <dd>
            Item(s) Subtotal: ₱ {{order.itemTotal | number:'1.2-2'}}
          </dd>
          <dd>
            Fees: ₱ {{(fees.delivery + fees.service) | number:'1.2-2'}}
          </dd>
          <dd *ngIf="order.discountTotal">
            Discount: <span class="text-success">- ₱ {{order.discountTotal | number:'1.2-2'}}</span>
          </dd>
          <dd *ngIf="order.paymentTotal">
            Credits: <span class="text-success">- ₱ {{order.paymentTotal | number:'1.2-2'}}</span>
          </dd>
          <dt>
            Total: <span class="text-primary">₱ {{order.grandTotal | number:'1.2-2'}}</span>
          </dt>
          <dt>
            <ng-container *ngIf="checkTimeSlot()">Timeslot: <span class="text-primary">{{tSlot.datetime | date:'fullDate'}} at {{getTimeSlotLabel(tSlot.timeslot_id)}}</span></ng-container>
          </dt>
        </dl>
          <ng-container *ngIf="!hasStarFeedback(order.number)"><button class="btn btn-primary btn-feedback" (click)="createFeedBack()">Feedback</button></ng-container>
      </div>

      <!-- <dl class="col-md-12">
        <dt>
          Payment: {{order.payment_state | humanize | uppercase}}
        </dt>
      </dl> -->
    </div>
  </div>
  <br>
  <h5>ORDER ITEMS</h5>
  <div class="panel panel-default">
    <div class="panel-body">
      <!-- <div class="row">
        <div class="active col-md-6">
          <div class="row">
            <div class="col-md-4">
              <small>SHIPMENT</small>
              <h5>
                ₱ {{order.total | number:'1.2-2'}}
              </h5>
            </div>
            <div class="col-md-4">
              <small>STATUS</small>
              <h5 class="status">
                {{order.status | uppercase}}
              </h5>
            </div>

            <div class="col-md-4">
              <small>ITEMS</small>
              <h5>
                {{order.totalQuantity}}
              </h5>
            </div>

          </div>
          </div>
      </div>
      <hr> -->
      <div class='row' *ngFor="let item of orderItems">
        <br>
        <div class="col-md-2">
          <div class="item-img-container">
            <img class="img-responsive item-img" [src]="getProductImageUrl(item.imageKey)" alt="item.name">
          </div>
        </div>

        <div class="col-md-3">
          <h5 class="ptitle">
            <a [routerLink]="['/item',item.id, item.slug]">
              <span class="text-primary">{{item.name}}</span>
            </a>
          </h5>
        </div>

        <div class="col-md-3">
          <h5 class="strong">
            {{item.total}}
          </h5>
          <small>
            Price: ₱ {{item.price | number:'1.2-2'}}<br/>
            Quantity: {{item.quantity}}
          </small>
        </div>

        <div class="col-md-4">
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <ng-container *ngIf="showFeedBackTemplate">
    <app-order-star-rating></app-order-star-rating>
  </ng-container>
</div>
