.breadcrumb {
  a {
    color: #666;
  }
}

.status {
  color: #20bd99;
  text-transform: capitalize;
}

.item-img-container {
  border: 1px solid #eee;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
}

.item-img {
  max-width: 90px;
  max-height: 90px;
  vertical-align: middle;
  display: inline-block;
}

.btn-feedback{
  height: 35px;
  width: 280px;
}
