<div class="container-fluid">
  <h3>Forgot your password?</h3>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" #formDir="ngForm">
    <br>
    <div class="row">
      <div class="col-md-4">
        <span>Please enter the email address associated with your OMG! account and we'll send you a link to reset your password.</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 form-group">
        <input type="text" class="form-control" formControlName="email" name="email" required placeholder="Please enter your email">
        <div *ngIf="forgotPasswordForm.get('email').errors && forgotPasswordForm.get('email').touched" class="error-message">
          <p>{{forgotPasswordForm.get('email').errors.msg || 'Please enter a valid email address'}}</p>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4">
        <button type="submit" class="btn btn-lg btn-primary">Continue</button>
      </div>
    </div>
  </form>
</div>
