<br />
<div class="calendar btn-group">
  <div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2"></div>
    <div *ngFor="let timeslot of timeSlots" class="col-xs-1 col-md-1">
      {{timeslot.date | date:'MMM dd'}}
    </div>
  </div>
  <div *ngFor="let slot of timeSlotRows; let i = index;" class="row">
    <div class="col-xs-2 col-sm-2 col-md-2">{{timeSlotLabels[i]}}</div>
    <div *ngFor="let timeslots of timeSlots; let j = index" class="col-xs-1 col-md-1 ">
      <ng-container *ngIf="isPastTime(j,i); else elseBlock1">
        <label [ngClass]="['btn-warning','btn','btn-block']"
          (click)="selectSlot($event)" #radioButtons disabled
          [(ngModel)]="radioModel" [btnRadio]="[j,i]">N/A</label>
      </ng-container>
      <ng-template #elseBlock1>
        <ng-container *ngIf="radioModel[0] == j && radioModel[1] == i; else elseBlock2">
          <label [ngClass]="['btn-success-selected','btn','btn-block']"
            (click)="selectSlot($event)" #radioButtons
            [(ngModel)]="radioModel" [btnRadio]="[j,i]"><span class="glyphicon glyphicon-ok"></span></label>
        </ng-container>
      </ng-template >
      <ng-template #elseBlock2>
        <ng-container *ngIf="timeslots.range[i].booked < timeslots.range[i].max; else elseBlock3">
          <label [ngClass]="['btn-default','btn','btn-block']"
            (click)="selectSlot($event)" #radioButtons
            [(ngModel)]="radioModel" [btnRadio]="[j,i]">Open</label>
        </ng-container>
      </ng-template >
      <ng-template #elseBlock3>
        <label [ngClass]="['btn-danger','btn','btn-block']"
          (click)="selectSlot($event)" #radioButtons disabled
          [(ngModel)]="radioModel" [btnRadio]="[j,i]">FULL</label>
      </ng-template >
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="input-btn-group nav-but-grp pull-right">
      <button class="btn btn-danger" (click)="onBackBtn()">Previous</button>
      <button class="btn btn-danger" (click)="checkoutToPayment()">Proceed to payment</button>
    </div>
  </div>
</div>
