<div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item text-primary" aria-current="page">Orders</li>
    </ol>
  </nav>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th><button class="btn">Order Number<span class="caret"></span></button></th>
        <th><button class="btn"> Customer<span class="caret"></span></button></th>
        <th>
          <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Status - {{selected}}
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a class="stat" (click)="filterStatus('All')">All</a></li>
              <li *ngFor="let status of statusContainer"> <a class="stat" (click)="filterStatus(status)">{{status}}</a></li>
            </ul>
          </div>
        </th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of ordersShow; let i = index">
        <td>{{order.orderNumber}}</td>
        <td>{{order.firstname}} {{order.lastname}}</td>
        <td class="text-uppercase">{{order.status}}</td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm" [routerLink]="['/admin/view-order']" (click)="getOrder(i)">VIEW</button>
            <button type="button" class="btn btn-default btn-sm" [routerLink]="['/admin/orders/edit',order.id]">EDIT VALUE</button>
            <button type="button" class="btn btn-default btn-sm">FORWARD TO DELIVERY</button>
            <button type="button" class="btn btn-default btn-sm">CANCEL ORDER</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
    <!-- <div style="display: none;"><app-view-order [orderedItems] = "orderSub | async"></app-view-order></div> -->
</div>
