<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>00001</td>
        <td>PENDING</td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-default">PRINT</button>
            <button type="button" class="btn btn-default">EDIT VALUE</button>
            <button type="button" class="btn btn-default">FORWARD TO DELIVERY</button>
            <button type="button" class="btn btn-default">CANCEL ORDER</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
