<div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item text-primary" aria-current="page">Parnter Buyer User Interface</li>
    </ol>
    <button id="add-user" name="add-user" class="adduser btn btn-danger" type="button" [routerLink]="['/admin/pbu-add']">Add User</button>
  </nav>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th><button class="btn">ID<span class="caret"></span></button></th>
        <th><button class="btn">Employee Name<span class="caret"></span></button></th>
        <th><button class="btn">User name<span class="caret"></span></button></th>
        <th><button class="btn">Email Address<span class="caret"></span></button></th>
        <th><button class="btn"><span>&#8369;</span>Balance<span class="caret"></span></button></th>
        <th><button class="btn"><span>&#8369;</span>Credit Line<span class="caret"></span></button></th>
        <th><button class="btn">Status<span class="caret"></span></button></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pbu of pbuShow; let i = index">
        <td>{{pbu.id}}</td>
        <td>{{pbu.name}}</td>
        <td>{{pbu.username}}</td>
        <td>{{pbu.email}}</td>
        <td>{{pbu.balance | number:'1.2-2'}}</td>
        <td>{{pbu.credit | number:'1.2-2'}}</td>
        <td>{{pbu.status}}</td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm" [routerLink]="['/admin/pbu-edit']" (click)="getPbu(pbu.id)">Edit</button>
            <ng-container *ngIf="isEnabled(pbu.id); else elseBlock">
              <button type="button" class="btn btn-primary btn-sm" [routerLink]="['/admin/pbu']" (click)="disablePBU(pbu.id)">Disable</button>
            </ng-container>
            <ng-template #elseBlock>
              <button type="button" class="btn btn-success btn-sm" [routerLink]="['/admin/pbu']" (click)="enablePBU(pbu.id)">Enable</button>
            </ng-template>
            <!-- <button type="button" class="btn btn-default btn-sm" [routerLink]="['/admin/view-order']" (click)="getOrder(i)">VIEW</button>
            <button type="button" class="btn btn-default btn-sm">FORWARD TO DELIVERY</button>
            <button type="button" class="btn btn-default btn-sm">CANCEL ORDER</button> -->
          </div>
        </td>
      </tr>
    </tbody>
  </table>
    <!-- <div style="display: none;"><app-view-order [orderedItems] = "orderSub | async"></app-view-order></div> -->
</div>
