<div class="address-section" style="align: center">
	<!-- <div *ngIf="(shipAddress$ | async)">
		<div class="">
			<div class="edit-address">
				<span class="edit-label">
					Select Delivery Address
				</span>
			</div>
			<app-delivery-address [address]="(shipAddress$ | async)" ></app-delivery-address>
		</div>
	</div> -->
	<div id="deliverytime" class="delivery-time" *ngIf="isShowDeliveryOption">
		<div class="col-md-12">
      <h3>Pick a delivery time slot</h3>
			<app-delivery-options [orderId]="orderId$ | async" [orderStatus]="orderStatus$ | async"
			 [deliveryDate]="deliveryDate$ | async" (onBackClickEmit)="toggleShowDeliveryAddressOption()"></app-delivery-options>
		</div>
	</div>
	<div id="enterAddress" *ngIf="!isShowDeliveryOption">
		<div class="col-md-7 add-address">
      <h3>Checkout Information</h3>
			 <app-add-address (onProceedClickEmit)="toggleShowDeliveryDateOption()"></app-add-address>
		</div>
		<!-- <div class="col-md-3">
		  <h3>Order Summary</h3>
		</div> -->
	</div>
</div>
