<div class="address-section" style="align: center">
	<div id="deliverytime" class="delivery-time" *ngIf="isShowDeliveryOption">
		<div class="col-md-12">
			<h3>
				<span class="num">1</span>
				<span class="txt">Information</span>
				<span class="num num-sel">2</span>
				<span class="txt txt-sel">Delivery time</span>
				<span class="num">3</span>
				<span class="txt">Payment</span>
			</h3>
			<app-delivery-options [orderId]="orderId$ | async" [orderStatus]="orderStatus$ | async"
			 [deliveryDate]="deliveryDate$ | async" (onBackClickEmit)="toggleShowDeliveryAddressOption()"></app-delivery-options>
		</div>
	</div>
	<div id="enterAddress" *ngIf="!isShowDeliveryOption">
		<div class="col-md-12">
			<h3>
				<span class="num num-sel">1</span>
				<span class="txt txt-sel">Information</span>
				<span class="num">2</span>
				<span class="txt">Delivery time</span>
				<span class="num">3</span>
				<span class="txt">Payment</span>
			</h3>
		</div>
		<div class="col-md-8 add-address">
			 <app-add-address (onProceedClickEmit)="toggleShowDeliveryDateOption()"></app-add-address>
		</div>
	</div>
</div>
