<!-- <div *ngIf="!show" class="tmp-welcome">
  <div class="text-center welcome">
    <div class="col-md-3 col-sm-4">&nbsp;</div>
    <div class="col-md-6 col-sm-4">
      <div class="input-group">
        <input type="password" [(ngModel)]="name" #ctrl="ngModel" required class="input-lg form-control" placeholder="One does not simply walk into mordor"
          autofocus="autofocus" (keypress)="setValue()">
        <span class="input-group-btn">
          <button class="btn btn-lg btn-success" (click)="setValue()">Alohomora</button>

        </span>
      </div>
    </div>
    <div class="col-md-3 col-sm-4">&nbsp;</div> -->

    <!--
    <div class="panel-heading">
      <h1>Demo App</h1>
    </div>
    <div class="panel-body">
      <div>
        <input type="password" [(ngModel)]="name" #ctrl="ngModel" required>
      </div>
    </div>
    <div class="panel-footer plan">
      <div class="alert alert-danger" [hidden]="!errorMessage">Wrong Password. Please try again!</div>
      <button class="btn btn-lg" (click)="setValue()">Enter</button>
    </div> -->
  <!-- </div>
</div> -->
<div class="default">
  <ng-container *ngIf="!isAdminRoute()">
    <div class="default">
      <section>
        <app-header [currentStep]="currentStep" [isHomeRoute]="isHomeRoute()"></app-header>
        <!-- <app-checkout-header [currentStep]="currentStep" *ngIf="currentUrl && isCheckoutRoute()"></app-checkout-header> -->
        <!-- <app-loading-indicator></app-loading-indicator> -->
        <app-notification></app-notification>

        <main class="body container">
          <router-outlet></router-outlet>
        </main>

        <!-- <app-checkout-footer *ngIf="currentUrl && isHomeRoute()"></app-checkout-footer> -->
        <app-footer></app-footer>
      </section>
    </div>
  </ng-container>
  <ng-container *ngIf="isAdminRoute()">
    <app-notification></app-notification>
    <app-star-rating></app-star-rating>
    <router-outlet></router-outlet>
  </ng-container>
</div>
