.admin {
  background-color: #444;
}

.navbar-nav {
  float: right;
}

.sidebar {
  position: absolute;
  left: 0;
  top: 50px;
  width: 250px;
  padding: 10px;

  .nav {
    small {
      margin-left: 10px;
    }
    span {
      color: #eee;
      padding: 10px 15px;

    }
  }
}

.container {
  margin-left: 250px;
  background-color: #fff;
  min-height: calc(100vh - 51px);
  width: calc(100vw - 265px);
  padding: 15px;

  .footer {
    min-height: 56px;
  }
}
@media screen and (max-width: 991px) {
  .container {
    margin-left: 0;
    width: 100%;
    margin-top: 50px;
  }
  .navbar.navbar-fixed-top.navbar-inverse {
    background-color: #222;
  }
  .nav > li > a:hover {
    background-color: unset;
  }
  .navbar-collapse .nav hr {
    margin: 0;
  }
}


.user {
  padding: 10px 10px 0px;
  display: block;
  font-size: smaller;
  color: #fff;
  text-align: center
}
