<div class="admin bg-dark">
  <nav class="navbar navbar-inverse hidden-xs">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/admin">OMG! Dashboard</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="admin">Messages</a></li>
        <li><a (click)="logout()">Logout</a></li>
      </ul>
    </div>
    <div class="sidebar">
      <div>
        <span class="user">Signed in as<br><b>{{ userData.username }}</b></span>
      </div>
      <hr>
      <ul class="nav nav-pills nav-stacked">
        <li *ngFor="let menuItem of getMenu()" routerLinkActive="active">
          <span *ngIf="menuItem.type == 'label'; else elseBlock1">{{menuItem.name}}</span>
          <ng-template #elseBlock1>
            <a *ngIf="menuItem.type == 'submenu'; else elseBlock2" [routerLink]=menuItem.routerLink><small>{{menuItem.name}}</small></a>
          </ng-template>
          <ng-template #elseBlock2>
              <a [routerLink]=menuItem.routerLink>{{menuItem.name}}</a>
          </ng-template>
        </li>
      </ul>
    </div>
  </nav>
  <nav class="navbar navbar-fixed-top navbar-inverse hidden-sm hidden-md hidden-lg hidden-xl">
    <div class="navbar-header">
      <a class="navbar-brand" href="/admin">OMG! Dashboard</a>
      <button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed" #mobileMenu >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" [attr.aria-expanded]="!isCollapsed" [ngClass]="{collapse: isCollapsed}">
      <ul class="nav" (click)="isCollapsed = true">
        <li><a class="text-primary">Signed in as {{ userData.username }}</a></li>
        <hr>
        <li *ngFor="let menuItem of getMenu()">
            <a *ngIf="menuItem.type != 'label'" [routerLink]=menuItem.routerLink>{{menuItem.name}}</a>
        </li>
        <li><a (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
    <footer></footer>
  </div>
</div>
