<div *ngIf="token && !isValid; else elseBlock" class="container">
  <p>The link has already expired. Please request another one.</p>
</div>
<ng-template #elseBlock>
  <nav *ngIf="!token" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/user','profile']" (click)="onCancelClick()">Profile</a></li>
      <li class="breadcrumb-item text-primary" aria-current="page">Reset Password</li>
    </ol>
  </nav>
  <div class="container">
    <h3>Reset Password</h3>
    <form  [formGroup]="resetForm" (ngSubmit)="onSubmit()" #formDir="ngForm">
        <div class="row">
          <div class="col-md-4 form-group">
            <input type="password" class="form-control" formControlName="password" name="password" required placeholder="New Password">
            <div *ngIf="resetForm.get('password').errors && resetForm.get('password').touched" >
              <p class="error-message">{{resetForm.get('password').errors.msg || 'Password must be at least 6 characters'}}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 form-group">
            <input type="password" class="form-control"  formControlName="verify" name="verify" required placeholder="Verify Password">
            <div *ngIf="(resetForm.get('verify').errors || resetForm.hasError('mismatchedPasswords')) && resetForm.get('verify').touched">
              <p class="error-message">{{'Password must match'}}</p>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Confirm</button>
        <button type="button" class="btn btn-default" (click)="formDir.resetForm({})">Clear</button>
    </form>
  </div>
</ng-template>
