<div class="container">

  <h1>Reset Password</h1>
  <form novalidate="" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    
      <div class="row">
        <div class="col-md-4 form-group">
          <label for="verify">New Password</label>
          <input type="password" class="form-control" formControlName="password" name="password" required>

         
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-group">
          <label for="verify">Verify Password</label>
          <input type="password" class="form-control"  formControlName="verify" name="verify">

        </div>
      </div>



      <button type="submit" class="btn btn-default" >Register</button>

      <button type="button" class="btn btn-default" >Reset</button>
   
  </form>

  
</div>