<footer>
<div class="footer-container">
  <div class="row">
    <div class="col-md-2">
      <div class="col-md-12">ABOUT US</div>
      <ul class="col-md-12">
        <li class="col-md-12"><a href="#">The Vision</a></li>
        <li class="col-md-12"><a href="#">The Team</a></li>
        <li class="col-md-12"><a href="#">Careers</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <div class="col-md-12">CONTACT US</div>
      <ul class="col-md-12">
        <li class="col-md-12">Email &nbsp;<a href="#">support@ohmygrocery.com</a></li>
        <li class="col-md-12">Phone &nbsp;<a href="#">1-800-GROCERY</a></li>
        <li class="col-md-12">Location &nbsp;<a href="#">Cebu City</a></li>
      </ul>
    </div>
    <div class="col-md-2">
      <div class="col-md-12">HELP & SUPPORT</div>
      <ul class="col-md-12">
        <li class="col-md-12"><a href="#">FAQ</a></li>
        <li class="col-md-12"><a href="#">Sugggest a Product</a></li>
        <li class="col-md-12"><a href="#">Security & Privacy Policy</a></li>
        <li class="col-md-12"><a href="#">Terms & Use</a></li>
      </ul>
    </div>
    <div class="col-md-2">
      <div class="col-md-12">DOWNLOAD THE APP</div>
      <ul class="col-md-12">
        <li class="col-md-12"><a href="#"><img class="app-store" src="../assets/app-store-badge.png" /></a></li>
        <li class="col-md-12"><a href="#"><img class="play-store" src="../assets/google-play-badge.png" /></a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <div class="col-md-12">©2018 OMG All Rights Reserved</div>
    </div>
    <!-- <div class="col-md-2">HELP & SUPPORT</div>
    <div class="col-md-2">DOWNLOAD THE APP</div>
    <div class="col-md-3">C 2018 OMG All Rights Reserved</div> -->
  </div>
  <!-- <ul class="row">
    <li class="col-md-2"><a href="#">The Vision</a></li>
    <li class="col-md-3"><a href="#">The Team</a></li>
    <li class="col-md-2"><a href="#">Careers</a></li>
    <li class="col-md-2"><a href="#">Careers</a></li>
    <li class="col-md-3"><a href="#">Careers</a></li>
  </ul> -->
</div>
</footer>
