<footer>
<div class="footer-container">
  <div class="row">
    <div class="col-md-2">
      <div class="col-md-12">ABOUT US</div>
      <ul class="col-md-12">
        <li class="col-md-12"><a routerLink="/vision">The Vision</a></li>
        <li class="col-md-12"><a routerLink="/team">The Team</a></li>
        <li class="col-md-12"><a routerLink="/careers">Careers</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <div class="col-md-12"><a routerLink="/contact">CONTACT US</a></div>
      <ul class="col-md-12">
        <li class="col-md-12">Email &nbsp;<a href="mailto:customersupport@ohmygrocery.com">customersupport@ohmygrocery.com</a></li>
        <!-- <li class="col-md-12">Phone &nbsp;<a href="tel:1-800-GROCERY">1-800-GROCERY</a></li> -->
        <li class="col-md-12">Location &nbsp;Cebu City</li>
      </ul>
    </div>
    <div class="col-md-2">
      <div class="col-md-12">HELP & SUPPORT</div>
      <ul class="col-md-12">
        <li class="col-md-12"><a routerLink="/faq">FAQ</a></li>
        <li class="col-md-12"><a routerLink="/suggest">Suggest a Product</a></li>
        <li class="col-md-12"><a routerLink="/privacy">Security & Privacy Policy</a></li>
        <li class="col-md-12"><a routerLink="/terms">Terms & Use</a></li>
      </ul>
    </div>
    <div class="col-md-2">
      <div class="col-md-12">DOWNLOAD THE APP</div>
      <ul class="col-md-12">
        <!-- <li class="col-md-12"><a href="#"><img class="app-store" src="../assets/app-store-badge.png" /></a></li> -->
        <li class="col-md-12"><a href="https://play.google.com/store?hl=en"><img class="play-store" src="../assets/google-play-badge.png" /></a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <div class="col-md-12">©2018 OMG All Rights Reserved</div>
    </div>
    <!-- <div class="col-md-2">HELP & SUPPORT</div>
    <div class="col-md-2">DOWNLOAD THE APP</div>
    <div class="col-md-3">C 2018 OMG All Rights Reserved</div> -->
  </div>
  <!-- <ul class="row">
    <li class="col-md-2"><a href="#">The Vision</a></li>
    <li class="col-md-3"><a href="#">The Team</a></li>
    <li class="col-md-2"><a href="#">Careers</a></li>
    <li class="col-md-2"><a href="#">Careers</a></li>
    <li class="col-md-3"><a href="#">Careers</a></li>
  </ul> -->
</div>
</footer>
