<div class="container">
  <div class="row">
    <div class="col-md-8 main-panel">
      <h1>Payment Details</h1>
      <h3>Select Mode of Payment</h3>
      <p>Delivery fee will be charged when transaction has been accepted.</p>
      <div class="row">
        <accordion [closeOthers]="oneAtATime" >
          <accordion-group #group1 [isOpen]="true">
            <div accordion-heading>Cash on Delivery
              <i class="pull-left float-xs-left glyphicon glyphicon-usd"></i><i class="pull-right glyphicon" [ngClass]="group1.isOpen ? 'glyphicon-chevron-down': 'glyphicon-chevron-right'"></i>
            </div>
            <i class="pull-right float-xs-right glyphicon"></i>
            <div class="form-group">
              <textarea [(ngModel)]="codText" class="form-control" cols="50" rows="4" placeholder="Instructions"></textarea>
            </div>
          </accordion-group>
          <accordion-group #group2 [isOpen]>
            <div accordion-heading>Gift Certificate
              <i class="pull-left float-xs-right glyphicon glyphicon-gift"></i><i class="pull-right glyphicon" [ngClass]="group2.isOpen ? 'glyphicon-chevron-down': 'glyphicon-chevron-right'"></i>
            </div>
            <i class="pull-right float-xs-right glyphicon"></i>
            <div class="form-group">
              <div class="input-group">
                <input [(ngModel)]="gcCode" placeholder="GC code">
                <!-- <button class="btn btn-danger">Enter</button> -->
              </div>
            </div>
            <div class="form-group">
              <textarea [(ngModel)]="gcText" class="form-control" cols="50" rows="4" placeholder="Instructions"></textarea>
            </div>
          </accordion-group>
          <!-- <accordion-group is-disabled="true">
            <div accordion-heading>Credit Card
              <i class="pull-left float-xs-right glyphicon" [ngClass]="{'glyphicon-credit-card': !groupval?.isOpen}"></i>
            </div>
            <i class="pull-right float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-down': groupval?.isOpen, 'glyphicon-chevron-up': !groupval?.isOpen}"></i>
            <p>Instructions</p>
          </accordion-group> -->
        </accordion>
      </div >

    </div>
    <div class="col-md-4">
      <button class="btn btn-block btn-primary place-order" (click)="confirmOrder()">Place order now</button>
      <app-review-order [shipAddress]="shipAddress$ | async" [billAddress]="billAddress$ | async"
        [orderTotal]="orderTotal$ | async" [cartItems]="cartItems$ | async" [deliveryDate]="deliveryDate$ | async"></app-review-order>
      <div class="row">
        <div class="col-md-12">
          <div class="button-group pull-right">
              <button class="btn btn-danger" (click)="goBack()">Previous</button>
          </div>
        </div>
      </div>
    </div>
  </div>
 <!-- <div class="col-md-6">

      <div class="button-group pull-right">
          <button class="btn btn-danger" (click)="goBack()">Previous</button>
          <button class="btn btn-danger" >Review and Place Order</button>
      </div>


  </div> -->


</div>
<!-- <div class="panel" id="#accordionMenu">
  <div class="panel-heading collapsed floatTab" data-toggle="collapse" data-target="#accordionGroup">
    <h4 class="panel-title accordion-toggle">
      <i class="glyphicon glyphicon-usd"></i>&nbsp;Menu <span class="glyphicon glyphicon-chevron-down pull-right"></span>
    </h4>
  </div>
  <div class="panel-group collapse" id="accordionGroup">
    <div class="panel">
        <div class="panel-heading collapsed floatTab" data-toggle="collapse" data-parent="#accordionGroup" data-target="#collapseOne">
            <h4 class="panel-title accordion-toggle">
                     <i class="fa fa-life-saver fa-fw"></i>Example 1 <span class="glyphicon glyphicon-chevron-down pull-right"></span>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body panel-thin">Example Text 1</div>
        </div>
     </div>
  </div>
</div> -->
