<!-- <div class="rows">
	<div class="left">
		<div class="payment-header">
			<span class="lbl">Choose Payment Mode</span>
			<span class="amt you-pay">
				<span class="amt">You Pay</span>
				<span class="you-pay">${{totalCartValue$ | async | number:'1.2-2'}}</span>
			</span>
		</div>
		<div class="pay-body">
			<app-payment-modes-list [orderNumber]="orderNumber$ | async" [paymentAmount]="totalCartValue$ | async"></app-payment-modes-list>
		</div>
	</div>
	<div class="right">
		<div class="mini-bag-summary">
			<div class="lbl">ORDER SUMMARY</div>
			<div class="items">{{totalCartItems$ | async}} ITEMS</div>
			<div class="order-total">
				<span>Order Total</span>
				<span class="value">${{totalCartValue$ | async | number:'1.2-2'}}</span>
			</div>
			<div class="shipping">
				<span>Delivery</span>
				<span class="shipping-fee c-green">FREE</span>
			</div>
		</div>
		<div class="pay-lbl-total">
			<span class="pay-lbl">Total Payable</span>
			<span class="pay-total">${{totalCartValue$ | async | number:'1.2-2'}}</span>
		</div>
		<div class="address-summary">
			<div class="address-lbl">DELIVER TO</div>
			<div class="name">{{(address$ | async).full_name}}</div>
			<div class="add-info">{{(address$ | async).address1}}</div>
			<div class="add-info">{{(address$ | async).address2}}</div>
			<div class="add-info">{{(address$ | async).city}} - {{(address$ | async).zipcode}}</div>
		<div class="add-info">Maharashtra</div>
			<div class="add-info">Mobile: {{(address$ | async).phone}}</div>
		</div>
	</div>
</div> -->
<div class="container">
  <h1>Delivery Details</h1>
  <h3>Mode of Payment</h3>
  <p>delivery fee will be charged when transaction has been accepted.</p>
  <div class="col-md-8 paymentWrap">
    <div class="btn-group paymentbtngrp radio-inline">

      <div class="col-md-4">
        <button class="btn paymentbtn" (click)="isCollapsed = !isCollapsed">
          Cash on Delivery
          <i class="fa fa-truck" style="font-size:48px;"></i>
        </button>
        <hr>
        <!-- <div [collapse]="isCollapsed" class="card card-block card-header">
          <div class="well well-lg">
			  <h1>Delivery Address</h1>
		  </div>
        </div> -->
      </div>

      <div class="col-md-4">
        <button class="btn paymentbtn" (click)="isCollapsed = !isCollapsed"  data-toggle="collapse" data-target="#multiCollapseExample2">
          Gift certificate
          <i class="fa fa-gift" style="font-size:48px;"></i>
        </button>
	
      </div>



      <button class="btn paymentbtn">
        Credit card
        <i class="fa fa-credit-card" style="font-size:48px;"></i>
      </button>


    </div>
	<h1>Review and Place Order: </h1>
	<h3>Your information:</h3>
  </div>

</div>

<!-- <div class="checkbox checkbox-inline checkbox-primary">
	<input type="checkbox" id="inlineCheckbox1" value="option1">
	<label for="inlineCheckbox1"> Cash on delivery </label>
</div>
<div class="checkbox checkbox-success checkbox-inline">
	<input type="checkbox" id="inlineCheckbox2" value="option1" checked="">
	<label for="inlineCheckbox2"> Credit card </label>
</div>
<div class="checkbox checkbox-inline checkbox-danger">
	<input type="checkbox" id="inlineCheckbox3" value="option1">
	<label for="inlineCheckbox3"> Gift certificate </label>
</div> -->

