<!-- <form [formGroup]="gcForm" novalidate="">
  <div #gModal class="modal fade form-group" id="gcModal" tabindex="-1" role="dialog" aria-labelledby="gcModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog form-group" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <label style="font-size: 0.80em">You can use upto <b style="font-size: 0.95em">{{usableGCcount}}</b> GCs. </label>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>

          <ng-container *ngIf="errMsg == null; else errInput">
            <div class="modal-body">
              <input #gCode type="number" class="no-spin form-control" formControlName="gc-code" id="gc-code" name="gc-code" placeholder="Enter code...">
            </div>
            <div class="modal-footer">
              <button #addGC type="button" class="btn btn-primary" (click)="addGiftCert(gCode)" [disabled]="usableGCcount == 0" >Add</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Done</button>
            </div>
          </ng-container>
          <ng-template #errInput>
            <div class=" modal-body has-error has-feedback">
                <input #gCode type="number" class="no-spin form-control" formControlName="gc-code" id="gc-code" name="gc-code"  placeholder="Enter a valid code....">
                <span class="glyphicon glyphicon-remove form-control-feedback"></span>
            </div>
            <div class="modal-footer">
              <button #addGC type="button" class="btn btn-primary" (click)="addGiftCert(gCode)" [disabled]="usableGCcount == 0" >Add</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Done</button>
            </div>
          </ng-template>

      </div>
    </div>
  </div>
</form> -->

<div class="container">
  <div class="row">
    <div class="col-md-6 main-panel">
      <h1>Payment</h1>
      <h4>Select mode of payment</h4>
      <p class="small sub-text">If your Order Total reaches P100 you can also pay using Gift Certificates.</p>
      <div class="">
        <div #group1>
          <ng-container *ngIf="totalAmount > 100; else secondCash">
            <div class="checkbox">
              <label>
                <input #cod type="checkbox" value="" checked>
                <span class="cr"><i class="cr-icon fa fa-check"></i></span>Pay with cash
              </label>
            </div>
          </ng-container>
          <ng-template #secondCash>
              <div #group1>
                <div class="checkbox">
                  <label>
                    <input #cod type="checkbox" value="" checked disabled>
                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>Pay with cash
                  </label>
                </div>
              </div>
          </ng-template>
        </div>
        <!-- <div #group2 class="creditcard">
          <div class="checkbox">
            <label>
              <input #cc type="checkbox" value="" [(ngModel)]="checkedCC">
              <span class="cr"><i class="cr-icon fa fa-check"></i></span>Pay with Card
            </label>
          </div>
          <div class="row ccOptions" *ngIf="checkedCC">
            <div class="col-md-1"></div>
            <div class="col-md-8">
              <div class="input-group">
                <i class="cr-icon fa fa-cc-visa" style="font-size:36px"></i>
                <i class="cr-icon fa fa-cc-mastercard" style="font-size:36px"></i>
                <i class="cr-icon fa fa-cc-amex" style="font-size:36px"></i>
                <i class="cr-icon fa fa-cc-diners-club" style="font-size:36px"></i>
                <i class="cr-icon fa fa-cc-discover" style="font-size:36px"></i>
                <i class="cr-icon fa fa-cc-jcb" style="font-size:36px"></i>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
        <div #group3 class="paypal">
          <div class="checkbox">
            <label>
              <input #cc type="checkbox" value="" [(ngModel)]="checkedPP" disabled>
              <span class="cr"><i class="cr-icon fa fa-check"></i></span><i class="fa fa-cc-paypal" style="font-size:48px;color:blue"></i>
            </label>
          </div>
          <div class="row paypal" *ngIf="checkedPP">
            <div class="col-md-8">
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_xclick">
                <input type="hidden" name="business" value="Email">
                <input type="hidden" name="lc" value="P">
                <input type="hidden" name="button_subtype" value="services">
                <input type="hidden" name="no_note" value="0">
                <input type="hidden" name="currency_code" value="PHP">
                <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
                <div>
                  <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                  <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                </div>
              </form>
            </div>
          </div>
        </div> -->
        <ng-container *ngIf="totalAmount > 100">
          <div #group4 class="GiftCert">
            <div class="checkbox">
              <label>
                <input #gc type="checkbox" value="" [(ngModel)]="checkedGC" [checked]="hasGC">
                <span class="cr"><i class="cr-icon fa fa-check"></i></span>Pay with GCs
              </label>
            </div>
            <div class="row" *ngIf="checkedGC">
              <div class="col-md-1"></div>
              <div class="col-md-8">
                <div class="input-group">
                  <span class="input-group-btn"><button type="button" class="btn btn-default" disabled>{{gcQuantity}}
                  </button></span>
                  <input #gCode type="number" class="form-control no-spin" id="gc-code" name="gc-code" placeholder="Enter a valid gift certificate code" />
                   <span class="input-group-btn"><button class="btn btn-primary" type="button" (click)="addGiftCert(gCode)">Add</button></span>
                </div>
                <div class="list-group gc-group">
                  <ul class="list-group">
                      <li *ngFor="let gc of gcList" class="list-group-item d-flex justify-content-between align-items-center">{{gc.code}}
                        <span class="badge badge-primary badge-pill">{{gc.value}}</span>
                      </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <!-- <ng-template #secondGC>
            <div #group2>
                <div class="form-group indent-container">
                    <p>If your Order Total reaches P100 you can also pay using Gift Certificates.</p>
                </div>
            </div>
        </ng-template> -->
        <!-- <accordion-group is-disabled="true">
          <div accordion-heading>Credit Card
            <i class="pull-left float-xs-right glyphicon" [ngClass]="{'glyphicon-credit-card': !groupval?.isOpen}"></i>
          </div>
          <i class="pull-right float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-down': groupval?.isOpen, 'glyphicon-chevron-up': !groupval?.isOpen}"></i>
          <p>Instructions</p>
        </accordion-group> -->
      </div>

      <div>
        <h4>Vouchers / Coupons</h4>
        <p class="small sub-text">Limited to use of 1 coupon per acheckout. Coupon is subject to Terms and Conditions.</p>
      </div>
      <!-- new Voucher entry point-->
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-btn"><button class="btn btn-default" type="button" disabled><i [ngClass]="voucherIcon"></i> {{gErrMsg}}</button></span>
          <input #coupon type="number" class="form-control no-spin" id="gc-code" name="gc-code" placeholder="Enter Coupon code" (keyup)="checkVoucher(coupon)" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
        </div>
      </div>
    <!-- </ng-container> -->
    <!-- <ng-template #errInput>
      <div class="row has-error has-feedback">
        <div class="col-md-9">
          <div class="input-group">
            <input #coupon placeholder="Coupon code" class="form-control input-sm">
            <span class="input-group-btn">
              <button #appCoupon class="btn btn-primary" (click)="applyCoupon(coupon)">Add</button>
            </span>
          </div>
        </div>
        <div class="col-md-12">
          <p class="small">Limited to use of 1 coupon per checkout. Coupon is subject to Terms and Conditions.</p>
        </div>
      </div>
    </ng-template> -->
      <div>
        <h4>Special instructions</h4>
      </div>
      <div>
        <div>
          <textarea [(ngModel)]="instructionsText" class="form-control si" cols="50" rows="4" placeholder="Please tell us nearby landmarks, delivery notes, amount of cash, etc..."></textarea>
        </div>
      </div>

    </div>

    <div class="col-md-2"></div>

    <div class="col-md-4">
      <div class="row place-order">
        <div class="col-md-12">
        <button class="btn btn-block btn-primary" (click)="confirmOrder()"><span class="glyphicon glyphicon-tags"></span> &nbsp;Place order now</button>
          <div class="button-group pull-right">
              <!-- <button class="btn btn-danger" (click)="goBack()"><span class="glyphicon glyphicon glyphicon-chevron-left"></span> Previous</button> -->
          </div>
        </div>
      </div>
      <app-review-order [shipAddress]="shipAddress$ | async" [billAddress]="billAddress$ | async" [gcAmount]="totalAmountPaid$ | async"
        [orderTotal]="orderTotal$ | async" [discount]="tempDiscount$ | async" [amountDue]="totalAmountDue$ | async" [cartItems]="cartItems$ | async"
        [deliveryDate]="deliveryDate$ | async"></app-review-order>
    </div>
  </div>
</div>
