<div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item text-primary" aria-current="page">Logs</li>
    </ol>
  </nav>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th><button class="btn">Id<span class="caret"></span></button></th>
        <th><div class="dropdown">
          <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Action - {{selectedA}} <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a class="stat" (click)="filterActions('All')">All</a></li>
            <li *ngFor="let action of actionContainer"><a class="stat" (click)="filterActions(action)">{{action}}</a></li>
          </ul>
        </div>
        </th>
        <th><button class="btn">Detail<span class="caret"></span></button></th>
        <th>
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">User - {{selectedU}}<span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a class="stat" (click)="filterUsers('All')">All</a></li>
              <li *ngFor="let user of userContainer"><a class="stat" (click)="filterUsers(user)">{{user}}</a></li>
            </ul>
          </div>
        </th>
        <th><button class="btn">Activity Date<span class="caret"></span></button></th>
        <!-- <th>
          <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Status - {{selected}}
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a class="stat" (click)="filterStatus('All')">All</a></li>
              <li *ngFor="let status of statusContainer"> <a class="stat" (click)="filterStatus(status)">{{status}}</a></li>
            </ul>
          </div>
        </th> -->
      </tr>
    </thead>
    <!-- <tbody>
      <tr *ngFor="let log of logsShow let i = index">
        <td>{{log.id}}</td>
        <td>{{log.action}}</td>
        <td class="text-uppercase">{{log.message}}</td>
        <td>{{log.user}}</td>
        <td>{{log.datecreated | date:'short'}}</td>
      </tr>
    </tbody> -->
    <tbody>
          <tr *ngFor="let item of pagedItems">
            <td>{{item.id}}</td>
            <td>{{item.action}}</td>
            <td class="text-uppercase">{{item.message}}</td>
            <td>{{item.user}}</td>
            <td>{{item.datecreated | date:'short'}}</td>
          </tr>
        <tr class="text-center">
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Last</a>
                </li>
            </ul>
      </tr>
    </tbody>
  </table>
    <!-- <div style="display: none;"><app-view-order [orderedItems] = "orderSub | async"></app-view-order></div> -->
</div>
