<!-- <div class="row">
  <div class="col-xs-3">
    <img class="img-responsive" src="../../assets/mocha-01.jpg">
  </div>
  <div class="col-xs-3">
    <h4 class="product-name">
      <strong>{{ cartItem.item.name }}</strong>
    </h4>
    <h4>
      <small>{{ cartItem.item.description}}</small>
    </h4>
  </div>
  <div class="col-xs-6">
    <div class="col-xs-4 text-right">
      <h6>
        <strong>{{ cartItem.item.price}}
          <span class="text-muted">x</span>
        </strong>
      </h6>
    </div>
    <div class="col-md-7">
      <button (click)="decrementQuantity($event)">-</button>
      <input type="number" [min]="0" class="text-center" [value]="quantity" [formControl]="quantityControl" />
      <button (click)="incrementQuantity($event)">+</button>
      <button type="button" class="btn btn-link btn-xs">
        <span class="glyphicon glyphicon-trash icon-trash"> </span>
      </button>
    </div>
  </div>
</div> -->
<ul class="list-inline">
  <div class="panel">
      <div class="row">
        <li class="col-xs-2">
          <div class="">
            <img class="img-responsive" src="../../assets/small.jpg">
          </div>
        </li>
        <li class="col-xs-4">
          <h4 class="product-name">
            <strong>{{cartItem.item.name}}</strong>
          </h4>
          <h4>
            <small>40per pack</small>
          </h4>
          <h4>Php 570.00</h4>
        </li>
        <li class="col-xs-2">
          <button type="button" class="btn btn-xs increment">
            <span class="glyphicon glyphicon-plus"> </span>
          </button>
          
          <input class="input" value="1">
          <button type="button " class="btn btn-xs increment">
            <span class="glyphicon glyphicon-minus"> </span>
          </button>
        </li>
        <li class="col-xs-2">
          <small>Php 1,710.00</small>
        </li>
        <li class="col-xs-2">
          <button type="button" class="btn btn-xs increment">
            <span class="glyphicon glyphicon-remove"> </span>
          </button>
        </li>
        
      </div>
  </div>
 
   
 
</ul>

