<div class="container-fluid">
  <div class="col-md-12">
    <h4>My Account</h4>
    <hr>
  </div>

  <div class="sidebar col-md-3">
    <p><a routerLink="/user/profile" routerLinkActive="active">Profile</a></p>
    <p><small>&nbsp;&nbsp;<a routerLink="/user/passwordReset" routerLinkActive="active">Reset Password</a></small></p>
    <!-- <hr>
    <p><small>ORDERS</small></p> -->
    <p><a routerLink="/user/address" routerLinkActive="active">Address</a></p>
    <p><a routerLink="/user/orders" routerLinkActive="active">Orders</a></p>
    <!-- <hr>
    <p><a routerLink="/user/addresses" routerLinkActive="active">My Address</a></p>
    <hr> -->
    <p><a routerLink="/user/lists" routerLinkActive="active">Lists</a></p>
  </div>

  <div class="user-content col-md-9">
    <router-outlet></router-outlet>
  </div>
</div>
