<!-- <ul class="social">
  <li>
    <a class="fa fa-facebook" href="#"></a>
  </li>
  <li>
    <a class="fa fa-twitter" href="#"></a>
  </li>
  <li>
    <a class="fa fa-instagram" href="#"></a>
  </li>
</ul> -->
<div class="cart-section">
  <div *ngIf="(totalCartItems$ | async) > 0 else emptyCart">
    <div class="col-md-9 panel-board">
      <div class="panel panel-info">
        <div class="row">
          <div class="col-md-9">
            <h1>Cart summary</h1>
          </div>
          <div class="col-md-3">
            <button *ngIf="isAuthenticated$ | async" class="btn btn-danger" [routerLink]="['/user','lists']">Copy items from My List</button>
          </div>
        </div>
        <!-- <p>Please review the items on your shopping cart before you checkout</p> -->
        <app-cart-item-list></app-cart-item-list>
        <!-- <div class="panel-body">
          <app-cart-item-list></app-cart-item-list>
        </div> -->
      </div>
    </div>
    <div class="col-md-3">
      <app-order-total-summary [totalCartItems]="totalCartItems$ | async" [totalCartValue]="totalCartValue$ | async" [totalAmtDue]="totalAmtDue$ | async"></app-order-total-summary>
    </div>
    <!--
          <div class="left">
          <div class="checkout-header-container">
        <div class="checkout-header">
          <span class="text">My Shopping Bag ({{totalCartItems$ | async}})</span>
        </div>
        <div class="total-price">Total: ${{totalCartValue$ | async | number:'1.2-2'}}</div>
      </div> -->
    <!-- <div class="prod-set">
        <app-line-item-list></app-line-item-list>
        <a class="wishlist-link">
          <span class="icon"></span>
          <span class="coming-soon">Add more from wishlist</span>
        </a>
      </div> -->
    <!-- </div> -->
    <!-- <div class="right">
      <app-order-total-summary [totalCartValue]="totalCartValue$ | async"></app-order-total-summary>
    </div> -->
  </div>
  <ng-template #emptyCart>
    <app-empty-cart></app-empty-cart>
  </ng-template>
</div>
