.dialog-header {
  .closeModal {
    position: absolute;
    top: 25px;
    right: 15px;
    color: #666;
    font-size: 20px;
  }
  .breadcrumb {
    a {
      color: #666;
      text-transform: capitalize;
      cursor: pointer;
    }
  }
}
