<div class="dialog">
  <ng-content></ng-content>

  <button (click)="onClose()" aria-label="Close">X</button>
  <div>
    <h1>View Detail Transactions</h1>
    <table class="table table-hover table-striped">
      <tbody>
        <tr>
          <td>Name</td>
          <td></td>
        </tr>
        <tr>
          <td>Date Created</td>
          <td class="text-uppercase">{{t.dateCreated | date:'fullDate' }}</td>
        </tr>
        <tr>
          <td>City</td>
          <td class="text-uppercase"></td>
        </tr>and
        <tr>
          <td>Status</td>
          <td class="text-uppercase">{{t.website}}</td>
        </tr>
        <tr>
          <td>Product Details</td>
          <td class="text-uppercase">{{t.phone}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <button type="submit" (click)="onClose()" class="btn btn-warning">Close</button>
  <button type="submit" (click)="download()" class="btn btn-success">Export PDF</button>
</div>