<div  *ngIf="display" class="dialog">
  <h1>Print Summary Transactions</h1>
  <ng-content></ng-content>
<button  *ngIf="closable" aria-label="Close"  (click)="close()" class="dialog-x-btn">X</button>


  
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Transaction ID</th>
          <th>Date Created</th>
          <th>Status</th>
          <th>Transaction Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of transaction; let i = index">
          <td>{{t.order_id}}</td>
          <td class="text-uppercase">{{t.id}}</td>
          <td class="text-uppercase">{{t.dateCreated | date:'fullDate' }}</td>
          <td class="text-uppercase"></td>
          <td class="text-uppercase">{{t.action}}</td>
    
        </tr>
      </tbody>
    </table>
   
  
  <button class="btn btn-success" (click)="download()">Download Pdf</button>
<button (click)="close()" class="btn btn-danger ">Close</button>


</div>
  <div *ngIf="display" class="overlay" (click)="close()"></div>