<div class="rightsign collapse navbar-collapse cl-effect-13" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav navbar-right">
  <!-- <li class="dropdown" dropdown *ngIf="!isAuthenticated">
    <a class="dropdown-toggle" dropdownToggle>
      <i class="fa fa-user" aria-hidden="true"></i>
      <span class="caret"></span>
    </a>

    <ul class="" *dropdownMenu>
      <li><a [routerLink]="['/auth']">Sign up</a></li>
      <li><a [routerLink]="['/auth', 'login']">Login</a></li>
    </ul>
  </li> -->

  <li *ngIf="!isAuthenticated"><a [routerLink]="['/auth']">Register</a></li>
  <li *ngIf="!isAuthenticated"><a [routerLink]="['/auth', 'login']">Sign in</a></li>

  <li *ngIf="isAuthenticated"><a routerLink="/user/lists"><i class="glyphicon glyphicon-list"></i> My List</a></li>
  <li class="dropdown" dropdown *ngIf="isAuthenticated">
    <a class="dropdown-toggle" dropdownToggle>
      <i class="fa fa-user" aria-hidden="true"></i>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" *dropdownMenu>
      <!-- <li role="separator" class="divider"></li> -->
      <li><a routerLink="/user">My Profile</a></li>
      <li><a routerLink="/user/orders">Orders</a></li>
      <!-- <li><a routerLink="/user/addresses">Saved Addresses</a></li> -->
      <li role="separator" class="divider"></li>
      <li><a (click)="logout()" href="">Logout</a></li>
    </ul>
  </li>

  <li class="cart" [routerLink]="['checkout','cart']">
    <a>
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      <span class="badge badge-danger">{{totalCartItems}}</span>
      {{totalCartValue | number : '1.2-2'}}
    </a>
  </li>
</ul>
</div>
