
// :host {
//   background: #ff5847;

//   color: #fff;
//   position: fixed;
//   left: auto;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   width: 20%;
//   min-width: 197px;
//   z-index: 9999;
//   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
// }

// ul {
//   font-size: 18px;
//   line-height: 3;
//   font-weight: 400;
//   padding-top: 50px;
//   list-style: none;
// }

/** Comment this part ^^ **/
.fa {
  font-size: 2rem;
}
.navbar-nav {
  margin-top: 10px;
}
.navbar-nav > li > a {
  min-height: 0px;
  letter-spacing: 0.5px;
  font-size: 14px;
}
.divider {
  top: 10px;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: transparent;
}

.cart {
  cursor: pointer;
}
.dropdown-menu {
  min-width: 120px;
  .divider {
    margin: 5px 0;
  }
}

@media screen and (max-width: 767px) {
   .navbar-nav>li>a {
     color: #fff;
     font-size: 20px;
   }
   

}
  @media screen and (max-width: 414px) {
    .omglogo {
      width: 18%;
    }
    .cart {
      margin-right: 9px;
    }
    .side-container {
      background-color: orange;
    }

  }

