.fa {
  font-size: 2rem;
}

.navbar-nav {
  margin-top: 10px;
}

.navbar-nav>li>a {
  min-height: 0px;
  letter-spacing: 0.5px;
  font-size: 14px;
}

.divider {
  top: 10px;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
  background-color: transparent;
}

.cart {
  cursor: pointer;

  ul.cart-preview {
    background-color: #fff;
    cursor: auto;
    padding: 0;
    top: 105%;

     li {
      width: 460px;
      height: 400px;

      .cart-list {
        overflow: scroll;
        height: 320px;
        border-color: #444;
        border-width: 1px 0;
        border-style: solid;
      }
      .subtotal {
        border-top: 5px solid #ccc;
      }

      .empty {
        padding: 50px 0;
      }
    }
  }
}

.dropdown-menu {
  min-width: 120px;
  .divider {
    margin: 5px 0;
  }
}

@media screen and (max-width: 767px) {
  .navbar-nav>li>a {
    color: #fff;
    font-size: 20px;
  }
  .side-container section ul {
    list-style: none;
    padding-left: 1em;
    margin-bottom: 0;
  }
  .side-container section ul li {
    padding: .8em .5em;
  }
  .side-container section {
    border-bottom: 1px solid #ea0000;
  }
  .side-container section ul li a {
    font-size: 20px;
  }
}

@media screen and (max-width: 414px) {
  .omglogo {
    width: 18%;
  }
  .cart {
    margin-right: 9px;
  }
  .side-container section {
    background-color: #ff5847;
    padding-bottom: 5px;
  }
  
}

