/* You can add global styles to this file, and also import other style files */

@font-face {
  // font-family: "Whitney-semi-bold";
  // src: url("assets/WhitneyHTF-SemiBold.woff") format("woff")
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@font-face {
  // font-family: "Whitney";
  // src: url("assets/WhitneyHTF-Book.woff") format("woff")
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

// bootstrap fonts
$icon-font-path: "../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
@import "app/shared/scss/themes";
@import "app/shared/scss/custom_bootstrap";
body {
  font-size: 15px;
  line-height: 1.5;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ff005d;
  padding-top: 120px;
}

section {
  background: #ffffff;
}

.col-centered {
  float: none;
  margin: 0 auto;
  opacity: 0.9;
}

.row-base {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.coming-soon {
  cursor: url('/assets/comingsoon.png'), auto !important;
}

.navbar {
  margin-bottom: 0px !important;
  border-bottom: 0px;
  min-height: 40px !important;
}

main[_ngcontent-c0] {
  padding: 0px !important;
}

.nav .open>a,
.nav .open>a:hover {
  color: #ff005d;
}

.nav .open>a:focus {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  background: #ff005d;
  color: #ffffff;
}

.nav>li>a:hover,
.nav>li>a:focus {
  color: #ff005d;
}

.navbar-right>li>a {
  color: #ff005d;
}

@media (min-width: 768px) {
  .navbar-nav>li>a {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

html {
  overflow-y: scroll;
}

.ui-spinner {
  width: 28%;
}

.ui-inputtext {
  width: 100%;
}

.ui-spinner-input {
  border: none;
}

.ui-spinner>.ui-spinner-input {
  //width: 30%;
  //background: orange;
}

div.modal-dialog {
  top: 40%;
}

.drop1 {
  border: 1px solid #ccc !important;
}

.dropdown-toggle {
  width: 100%;
  text-align: left;
  border: none;
  background: transparent;
  font-size: 1.2em;
}

.btn-group.open .dropdown-toggle {
  box-shadow: none;
}

.caret {
  position: absolute;
  right: 22px;
  bottom: 9px;
  right: 5px;
  bottom: 18px;
}

.caret1 {
  right: 11px;
  bottom: 13px;
}

.btn-select-item {
  width: 40%;
}

.undefined {
  width: 100px;
}

.undefined a img {
  width: 100%;
  float: left;
}

.lighter {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
}

.customClass {
  position: relative;
}

.customClass .accordion-toggle:before {
  font-family: FontAwesome;
  float: left;
  content: "\f06b";
  font-size: 22px;
}

.customClass .db .accordion-toggle:before {
  content: "\f09d";
}

.panel-group {
  width: 50%;
}

@media screen and (max-width: 767px) {
  body {
    padding-top: 0;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #e7e7e7;
    background: #ff5847;
    position: absolute;
    width: 78%;
    z-index: 999;
    top: 58px;
    left: 15px;
  }
  .navbar-nav li {
    text-align: center;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: transparent;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background: #ff5847;
  }
}
