<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-xs-6">
      <h5 class="active">
        Order #{{order.number}}&nbsp;| Status: {{order.status | uppercase}}</h5>
      <small>
        Placed on {{order.dateCreated | date:'fullDate'}} |
        <!-- ₱ {{order.total | number:'1.2-2'}} /
        {{order.totalQuantity}} items -->
        <a [routerLink]="['detail', order.orderkey]" class="text-primary">View Details</a>
        <!-- Payment: {{order.paymentStatus| humanize | uppercase}} -->
      </small>
    </div>
    <div class="col-xs-6">
      <h5>Deliver to: {{order.firstname}} {{order.lastname}}</h5><button class="btn btn-primary btn-feedback" (click)=createFeedBack()>Feedback</button>
      <small>
        {{order.shippingAddress01}},
        <span *ngIf="order.shippingAddress02">{{order.shippingAddress02}},</span>
        {{order.city}}, {{order.country}} {{order.postalcode}}
      </small>
    </div>
  </div>
  <div>
    <ng-container *ngIf="showFeedBackTemplate">
      <app-star-rating (showFeedBackTemplate)="close($event)"></app-star-rating>
    </ng-container>
  </div>
</div>
