<!--<form *ngIf="!isAuthenticated" class="form" [formGroup]="emailForm">
  <div class="email">
    <label>
      Email
      <span class="required">*</span>
    </label>
    <input type="tel" class="full-width" formControlName="email">
    <p *ngIf="emailForm.get('email').hasError('required') && emailForm.get('email').touched" class="value-err show">This is a mandatory field</p>
  </div>
</form>

<form class="form" [formGroup]="addressForm" (ngSubmit)="onSubmit()">
  <input type="hidden" formControlName="country_id">
  <div class="pincode">
    <label>
      Pin Code
      <span class="required">*</span>
    </label>
    <input type="tel" class="half-width readonly" readonly formControlName="zipcode">
    <p *ngIf="addressForm.get('zipcode').hasError('required') && addressForm.get('zipcode').touched" class="value-err show">This is a mandatory field</p>
  </div>
  <div class="locality">
    <label>
      Locality / Town
      <span class="required">*</span>
    </label>
    <input type="text" class="full-width" formControlName="address2">
    <p *ngIf="addressForm.get('address2').hasError('required') && addressForm.get('address2').touched" class="value-err show">This is a mandatory field</p>
  </div>
  <div>
    <div class="city">
      <label>
        City / District
        <span class="required">*</span>
      </label>
      <input type="text" class="half-width" formControlName="city">
      <p *ngIf="addressForm.get('city').hasError('required') &&  addressForm.get('city').touched" class="value-err show">This is a mandatory field</p>
    </div>
    <div class="state">
      <label>
        State
        <span class="required">*</span>
      </label>
      <input type="text" class="half-width readonly" readonly formControlName="state_id">
    </div>
  </div>
  <div>
    <div class="first-name">
      <label>
        First Name
        <span class="required">*</span>
      </label>
      <input type="text" class="half-width" formControlName="firstname">
      <p *ngIf="addressForm.get('firstname').hasError('required') &&  addressForm.get('firstname').touched" class="value-err show">This is a mandatory field</p>
    </div>
    <div class="last-name">
      <label>
        Last Name
        <span class="required">*</span>
      </label>
      <input type="text" class="half-width" formControlName="lastname">
      <p *ngIf="addressForm.get('lastname').hasError('required') &&  addressForm.get('lastname').touched" class="value-err show">This is a mandatory field</p>
    </div>
  </div>
  <div class="address">
    <label>
      Address
      <span class="required">*</span>
    </label>
    <textarea type="text" class="full-width" formControlName="address1"></textarea>
    <p *ngIf="addressForm.get('address1').hasError('required') &&  addressForm.get('address1').touched" class="value-err show">This is a mandatory field</p>
  </div>
  <div class="mobile">
    <label>
      Mobile No
      <span class="required">*</span>
    </label>
    <input type="tel" class="half-width" formControlName="phone">
    <p *ngIf="addressForm.get('phone').hasError('required') &&  addressForm.get('phone').touched" class="value-err show">This is a mandatory field</p>
  </div>
  <div *ngIf="isAuthenticated" class="save-button">
    <button [disabled]="!addressForm.valid">SAVE</button>
  </div>
  <div *ngIf="!isAuthenticated" class="save-button">
    <button [disabled]="!addressForm.valid && !emailForm.valid">SAVE</button>
  </div>
</form> -->
<!-- *ngIf="!isAuthenticated" -->

<form class="form" [formGroup]="addressForm" (ngSubmit)="onSubmit()" #formAddress="ngForm">
  <div class="col-md-7">
    <div class="row">
      <div class="col-sm-6">
        <div *ngIf="!isInvalid || !addressForm.get('firstname').hasError('required')" class="form-group">
          <label for="firstname">First name</label>
          <input type="text" id="firstname" formControlName="firstname" class="form-control" placeholder="first name" required >
          <!-- <p *ngIf="addressForm.get('firstname').hasError('required') &&  addressForm.get('firstname').touched" class="value-err show">Please enter your first name!</p> -->
        </div>
        <div *ngIf="isInvalid && addressForm.get('firstname').hasError('required')" class="form-group">
          <label for="firstname">First name</label>
          <input type="text" id="firstname" formControlName="firstname" class="form-control2" placeholder="first name" required >
          <!-- <p *ngIf=" && addressForm.submitted" class="value-err show">Please enter your zipcode!</p> -->
        </div>
      </div>
      <div class="col-sm-6">
        <div *ngIf="!isInvalid || !addressForm.get('lastname').hasError('required')" class="form-group">
          <label for="lastname">Last name</label>
          <input type="text" id="lastname" formControlName="lastname" class="form-control" placeholder="last name" required >
          <!-- <p *ngIf="addressForm.get('firstname').hasError('required') &&  addressForm.get('firstname').touched" class="value-err show">Please enter your first name!</p> -->
        </div>
        <div *ngIf="isInvalid && addressForm.get('lastname').hasError('required')" class="form-group">
          <label for="lastname">Last name</label>
          <input type="text" id="lastname" formControlName="lastname" class="form-control2" placeholder="last name" required >
          <!-- <p *ngIf=" && addressForm.submitted" class="value-err show">Please enter your zipcode!</p> -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div *ngIf="!isInvalid || !addressForm.get('phone').hasError('required')" class="form-group">
          <label for="phone">Phone</label>
          <input type="text" id="phone" formControlName="phone" class="form-control"  placeholder="09271234567" required>
            <!--p *ngIf="addressForm.get('phone').hasError('required') &&  addressForm.get('phone').touched" class="value-err show">Please enter your contact number!</p-->
        </div>
        <div *ngIf="isInvalid && addressForm.get('phone').hasError('required')" class="form-group">
          <label for="phone">Phone</label>
          <input type="text" id="phone" formControlName="phone" class="form-control2"  placeholder="09271234567" required>
            <!--p *ngIf="addressForm.get('phone').hasError('required') &&  addressForm.get('phone').touched" class="value-err show">Please enter your contact number!</p-->
        </div>
      </div>
      <div class="col-sm-6" *ngIf="!isAuthenticated">
          <div *ngIf="!isInvalid || !addressForm.get('phone').hasError('required')" class="form-group">
            <label for="email">E-mail</label>
            <input type="text" id="email" class="form-control" formControlName="email" placeholder="email" required >
          <!-- <p *ngIf="emailForm.get('email').hasError('required') && emailForm.get('email').touched" class="value-err show">Please enter your email address!</p> -->
          </div>
          <div *ngIf="isInvalid && addressForm.get('email').hasError('required')" class="form-group">
            <label for="email">E-mail</label>
            <input type="text" id="email" class="form-control2" formControlName="email" placeholder="email" required >
          <!-- <p *ngIf="emailForm.get('email').hasError('required') && emailForm.get('email').touched" class="value-err show">Please enter your email address!</p> -->
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div *ngIf="!isInvalid || !addressForm.get('zipcode').hasError('required')" class="form-group">
          <label for="address1">Address 1</label>
          <input type="text" id="address1" formControlName="address1" class="form-control" placeholder="Address1" required>
          <!-- <p *ngIf="addressForm.get('address1').hasError('required') &&  addressForm.get('address1').touched" class="value-err show">This is a mandatory field</p> -->
        </div>
        <div *ngIf="isInvalid && addressForm.get('address1').hasError('required')" class="form-group">
          <label for="address1">Address 1</label>
          <input type="text" id="address1" formControlName="address1" class="form-control2" placeholder="Address1" required>
          <!-- <p *ngIf="addressForm.get('address1').hasError('required') &&  addressForm.get('address1').touched" class="value-err show">This is a mandatory field</p> -->
        </div>
      </div>
    <!-- <div class="col-sm-6">
      <div class="form-group">
        <label for="province">Province</label>
        <select class="form-control" id="province">
          <option>Select</option>
<option *ngFor="let choice of province">{{choice}}</option>

        </select>
      </div>
    </div> -->
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label for="address2">Address 2</label>
        <input type="text" id="address2" class="form-control" placeholder="Address2" optional>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5">
      <div class="form-group">
        <!-- <label for="city">City/Municipality</label>
        <select class="form-control" id="city">
          <option>Select</option>
          <option *ngFor="let choice of city">{{choice}}</option>
        </select> -->
        <div class="form-group">
          <label for="city">City/Municipality</label>
          <input type="text" id="city" class="form-control" placeholder="City" required >
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <div *ngIf="!isInvalid || !addressForm.get('zipcode').hasError('required')" class="form-group">
          <label for="zipcode">Zip code</label>
          <input type="text" id="zipcode" formControlName="zipcode" class="form-control" placeholder="zipcode" required >
          <!-- <p *ngIf="&& addressForm.submitted" class="value-err show">Please enter your zipcode!</p> -->
        </div>
        <div *ngIf="isInvalid && addressForm.get('zipcode').hasError('required')" class="form-group">
          <label for="zipcode">Zip code</label>
          <input type="text" id="zipcode" formControlName="zipcode" class="form-control2" placeholder="zipcode" required >
          <!-- <p *ngIf="addressForm.get('zipcode').hasError('required') && addressForm.get('zipcode').touched && addressForm.submitted" class="value-err show">Please enter your zipcode!</p> -->
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="form-group">
        <div class="form-group">
          <label for="country">Country</label>
          <select class="form-control" id="country">
            <option value="Philippines">Philippines</option>
            <!-- <option *ngFor="let choice of countr">{{ctry}}</option> -->
          </select>
        </div>
      </div>
    </div>
    <!-- <div class="col-sm-6">
      <div class="form-group">
        <label for="barangay">Barangay</label>
        <select class="form-control " id="barangay">
          <option value="" disabled="true">Select</option>
          <option *ngFor="let choice of barangays">{{choice}}</option>
        </select>
      </div>[disabled]="!addressForm.valid"
    </div> -->
</div>
<!-- <div class="row">
  <div class="col-sm-12">
    <span class="note"><b>*</b> Required</span>
  </div>
</div> -->
<div class="row" style="text-align:right;">
  <div *ngIf="!isAuthenticated" class="col-sm-12">
    <button class="btn btn-danger" >Save and Continue</button>
  </div>
  <div *ngIf="isAuthenticated" class="col-sm-12">
    <button>Edit</button><button>Continue</button>
  </div>
</div>


</div>
<div class="col-md-3">
  <h3>Order Summary</h3>
</div>
</form>
