<form class="form" [formGroup]="addressForm" (ngSubmit)="onSubmit()" #formAddress="ngForm">
  <div class="row">
    <div class="col-sm-6 form-group">
      <label for="firstname">First name</label>
      <input type="text" id="firstname" formControlName="firstname" class="form-control" placeholder="First Name" required >
    </div>
    <div class="col-sm-6 form-group">
      <label for="lastname">Last name</label>
      <input type="text" id="lastname" formControlName="lastname" class="form-control" placeholder="Last Name" required >
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 form-group">
      <label for="phone">Phone</label>
      <input type="text" id="phone" formControlName="phone" class="form-control"  placeholder="09271234567" required>
    </div>
    <div class="col-sm-6 form-group">
      <label for="email">Email</label>
        <input type="text" id="email" class="form-control" formControlName="email" placeholder="Email" required >
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 form-group">
      <label for="shippingAddress01">Address 1</label>
      <input type="text" id="address1" formControlName="shippingAddress01" class="form-control" placeholder="Street Address, P.O. Box" required>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 form-group">
      <label for="shippingAddress02">Address 2</label>
      <input type="text" id="address2" formControlName="shippingAddress02" class="form-control" placeholder="Apartment, suite, unit, building, floor, etc." optional>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5 form-group">
      <label for="city">City/Municipality</label>
      <input type="text" id="city" formControlName="city" class="form-control" placeholder="City/Municipality" required >
    </div>
    <div class="col-sm-2 form-group">
      <label for="postalcode">Zip Code</label>
      <input type="text" id="zipcode" formControlName="postalcode" class="form-control" placeholder="Zip Code" required >
    </div>
    <div class="col-sm-5 form-group">
      <label for="country">Country</label>
      <select class="form-control" id="country" formControlName="country">
        <option value="Philippines">Philippines</option>
        <!-- <option *ngFor="let choice of countr">{{ctry}}</option> -->
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 form-group">
      <label for="city">Special Instructions</label>
      <textarea formControlName="specialInstructions" class="form-control" rows="4" placeholder="Landmarks, Delivery notes, etc"></textarea>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-sm-12">
      <span class="note"><b>*</b> Required</span>
    </div>
  </div> -->
  <div class="row">
    <div class="col-sm-12 bg-info form-group">
      <input type="checkbox" #billAddress formControlName="isBilling">
      <label>Bill to a different address</label>
    </div>
  </div>
  <div *ngIf="billAddress.checked">
    <div class="row">
      <div class="col-sm-12 form-group">
        <label for="billingAddress01">Address 1</label>
        <input type="text" formControlName="billingAddress01" class="form-control" placeholder="Street Address, P.O. Box" >
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 form-group">
        <label for="billingAddress02">Address 2</label>
        <input type="text" formControlName="billingAddress02" class="form-control" placeholder="Apartment, suite, unit, building, floor, etc." optional>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5 form-group">
        <label for="billCity">City/Municipality</label>
        <input type="text" formControlName="billCity" class="form-control" placeholder="City/Municipality">
      </div>
      <div class="col-sm-2 form-group">
        <label for="billPostalcode">Zip Code</label>
        <input type="text" formControlName="billPostalcode" class="form-control" placeholder="Zip Code">
      </div>
      <div class="col-sm-5 form-group">
        <label for="billCountry">Country</label>
        <select class="form-control" formControlName="billCountry">
          <option value="Philippines">Philippines</option>
          <!-- <option *ngFor="let choice of countr">{{ctry}}</option> -->
        </select>
      </div>
    </div>
  </div>
  <div class="row pull-right">
    <div class="col-sm-12">
      <button class="btn btn-danger" >Save and Continue</button>
    </div>
  </div>
</form>
