<!-- <form *ngIf="!isAuthenticated" class="form" [formGroup]="emailForm">
  <div class="email">
    <label>
      Email
      <span class="required">*</span>
    </label>
    <input type="tel" class="full-width" formControlName="email">
    <p *ngIf="emailForm.get('email').hasError('required') && emailForm.get('email').touched" class="value-err show">This is a mandatory field</p>
  </div>
</form>

<form class="form" [formGroup]="addressForm" (ngSubmit)="onSubmit()">
  <input type="hidden" formControlName="country_id">
  <div class="pincode">
    <label>
      Pin Code
      <span class="required">*</span>
    </label>
    <input type="tel" class="half-width readonly" readonly formControlName="zipcode">
    <p *ngIf="addressForm.get('zipcode').hasError('required') && addressForm.get('zipcode').touched" class="value-err show">This is a mandatory field</p>
  </div>
  <div class="locality">
    <label>
      Locality / Town
      <span class="required">*</span>
    </label>
    <input type="text" class="full-width" formControlName="address2">
    <p *ngIf="addressForm.get('address2').hasError('required') && addressForm.get('address2').touched" class="value-err show">This is a mandatory field</p>
  </div>
  <div>
    <div class="city">
      <label>
        City / District
        <span class="required">*</span>
      </label>
      <input type="text" class="half-width" formControlName="city">
      <p *ngIf="addressForm.get('city').hasError('required') &&  addressForm.get('city').touched" class="value-err show">This is a mandatory field</p>
    </div>
    <div class="state">
      <label>
        State
        <span class="required">*</span>
      </label>
      <input type="text" class="half-width readonly" readonly formControlName="state_id">
    </div>
  </div>
  <div>
    <div class="first-name">
      <label>
        First Name
        <span class="required">*</span>
      </label>
      <input type="text" class="half-width" formControlName="firstname">
      <p *ngIf="addressForm.get('firstname').hasError('required') &&  addressForm.get('firstname').touched" class="value-err show">This is a mandatory field</p>
    </div>
    <div class="last-name">
      <label>
        Last Name
        <span class="required">*</span>
      </label>
      <input type="text" class="half-width" formControlName="lastname">
      <p *ngIf="addressForm.get('lastname').hasError('required') &&  addressForm.get('lastname').touched" class="value-err show">This is a mandatory field</p>
    </div>
  </div>
  <div class="address">
    <label>
      Address
      <span class="required">*</span>
    </label>
    <textarea type="text" class="full-width" formControlName="address1"></textarea>
    <p *ngIf="addressForm.get('address1').hasError('required') &&  addressForm.get('address1').touched" class="value-err show">This is a mandatory field</p>
  </div>
  <div class="mobile">
    <label>
      Mobile No
      <span class="required">*</span>
    </label>
    <input type="tel" class="half-width" formControlName="phone">
    <p *ngIf="addressForm.get('phone').hasError('required') &&  addressForm.get('phone').touched" class="value-err show">This is a mandatory field</p>
  </div>
  <div *ngIf="isAuthenticated" class="save-button">
    <button [disabled]="!addressForm.valid">SAVE</button>
  </div>
  <div *ngIf="!isAuthenticated" class="save-button">
    <button [disabled]="!addressForm.valid && !emailForm.valid">SAVE</button>
  </div>
</form> -->

<div class="col-md-7">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="firstname">First name *</label>
        <input type="text" id="firstname" class="form-control" required placeholder="John Peter">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="lastname">Last name *</label>
        <input type="text" id="firstname" class="form-control" required placeholder="Quintanar">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="phone">Phone *</label>
        <input type="text" id="phone" class="form-control" required placeholder="09271234567">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="email">E-mail *</label>
        <input type="text" id="email" class="form-control" required placeholder="johnpeter@gmail.com">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label for="address1">Address 1 *</label>
        <input type="text" id="address1" class="form-control" required placeholder="Address">
      </div>
    </div>
    <!-- <div class="col-sm-6">
      <div class="form-group">
        <label for="province">Province</label>
        <select class="form-control" id="province">
          <option>Select</option>
<option *ngFor="let choice of province">{{choice}}</option>

        </select>
      </div>
    </div> -->
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label for="address2">Address 2</label>
        <input type="text" id="address2" class="form-control" placeholder="Address (optional)">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5">
      <div class="form-group">
        <!-- <label for="city">City/Municipality</label>
        <select class="form-control" id="city">
          <option>Select</option>
          <option *ngFor="let choice of city">{{choice}}</option>
        </select> -->
        <div class="form-group">
          <label for="city">City/Municipality</label>
          <input type="text" id="city" class="form-control" required placeholder="Mandaue / Cebu / Consolacion">
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <div class="form-group">
          <label for="zipcode">Zip code</label>
          <input type="text" id="zipcode" class="form-control" required placeholder="6014">
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="form-group">
        <div class="form-group">
          <label for="country">Country</label>
          <select class="form-control" id="country">
            <option value="Philippines">Philippines</option>
            <!-- <option *ngFor="let choice of countr">{{ctry}}</option> -->
          </select>
        </div>
      </div>
    </div>
    <!-- <div class="col-sm-6">
      <div class="form-group">
        <label for="barangay">Barangay</label>
        <select class="form-control " id="barangay">
          <option value="" disabled="true">Select</option>
          <option *ngFor="let choice of barangays">{{choice}}</option>
        </select>
      </div>
    </div> -->
</div>
<div class="row">
  <div class="col-sm-12">
    <span class="note"><b>*</b> Required</span>
  </div>
</div>
<div class="row" style="text-align:right;">
  <div *ngIf="!isAuthenticated" class="col-sm-12">
    <button class="btn btn-danger" (click)="onSubmit()">Save and Continue</button>
  </div>
  <div *ngIf="isAuthenticated" class="col-sm-12">
    <button>Edit</button><button>Continue</button>
  </div>
</div>


</div>
<div class="col-md-3">
  <h3>Order Summary</h3>
</div>
