<form class="register-register-form" novalidate="" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
  <fieldset class="register-input-container">

    <div class="register-input-item">
      <input type="email" class="register-user-input-email register-user-input" name="email" formControlName="email" placeholder="Your Email Address"
        autocomplete="off">
      <div *ngIf="signUpForm.get('email').errors && signUpForm.get('email').touched">
        <span class="register-error-icon">!</span>
        <p class="register-error-message">{{signUpForm.get('email').errors.msg || 'Please enter a valid email id'}}</p>
      </div>
    </div>

    <div class="register-input-item">
      <input type="password" class="register-user-input-password register-user-input" name="password" formControlName="password"
        placeholder="Choose Password" autocomplete="off">
      <div *ngIf="signUpForm.get('password').errors && signUpForm.get('password').touched">
        <span class="register-error-icon">!</span>
        <p class="register-error-message">{{signUpForm.get('password').errors.msg || 'Password must be at least 6 characters'}}</p>
      </div>
    </div>

    <div class="register-input-item">
      <input type="password" class="register-user-input-password register-user-input" name="password_confirmation" formControlName="password_confirmation"
        placeholder="Confirm Password" autocomplete="off">
      <div *ngIf="(signUpForm.get('password_confirmation').errors || signUpForm.hasError('mismatchedPasswords')) && signUpForm.get('password_confirmation').touched">
        <span class="register-error-icon">!</span>
        <p class="register-error-message">{{ 'Password must match'}}</p>
      </div>
    </div>

    <div class="register-input-item">
      <div class="register-user-input-mobile register-user-input" >
        <div>
          <select name="prefix" formControlName="prefix">
            <option value="+63">+63</option>
          </select>
          <input type="number" name="mobile"
            formControlName="mobile" placeholder="Mobile Number (For status updates)">
        </div>
      </div>
      <div *ngIf="signUpForm.get('mobile').errors && signUpForm.get('mobile').touched">
        <span class="register-error-icon">!</span>
        <p class="register-error-message">{{signUpForm.get('mobile').errors.msg || 'Please enter a valid mobile number (10 digits)'}}</p>
      </div>
    </div>

    <fieldset data-type="horizontal" class="register-gender">
      <legend class="register-gender-title">I'm a</legend>

      <input type="radio" class="register-gender-radio" id="male" name="gender" value="M" formControlName="gender">
      <label class="register-gender-label" for="male">Male</label>

      <input type="radio" class="register-gender-radio" id="female" name="gender" value="F" formControlName="gender">
      <label class="register-gender-label" for="female">Female</label>

      <div *ngIf="signUpForm.get('gender').errors && signUpForm.get('gender').touched">
        <span class="register-gender-error-icon register-error-icon">!</span>
        <p class="register-gender-error-message register-error-message">{{signUpForm.get('gender').errors.msg || 'Please select your gender'}}</p>
      </div>
    </fieldset>
  </fieldset>
  <fieldset class="register-register-button-container">
    <button class="btn btn-danger register-register-button">Register</button>
    <p class="policy-text">
      <small>By clicking "Register" I agree to <a class="text-primary" routerLink="/privacy">OMG! Privacy Policy</a></small>
    </p>
  </fieldset>
</form>